.ceux-body {
  margin: 0 auto;
  padding-top: 7em;
  max-width: 60em;
}

.ceux-heading {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid $color-white-smoke;
}

.ceux-example {
  @include display-flex;
  @include flex-direction(row);
  margin: 1em 0;

  .ceux-result {
    @include flex(1 1 5em);
    @include box-sizing(border-box);
    padding: 1em;
  }
  .ceux-code {
    @include flex(1 1 5em);
    @include box-sizing(border-box);
    padding: 1em;

    pre {
      background: #1d1f21;
      padding: 1em;
      @include box-sizing(border-box);
    }
  }
}

.ceux-philosophies {
  @include box-sizing(border-box);
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  margin: 0;
  padding: 0;

  .ceux-philosophy {
    @include box-sizing(border-box);
    @include flex(1 1 20em);
    list-style: none;
    padding: 1em;

    ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

.ceux-color-grid {
  padding-bottom: 1em;

  @include display-flex;
  @include flex-direction(row);
}

.ceux-color {
  margin-right: 1em;
  @include flex(1 1 5em);

  .ceux-color-swatch {
    display: block;
    margin: 0;
    padding: 4.5em 0.5em 0.5em 0.5em;
    min-height: 8em;
    @include box-sizing(border-box);
  }

  .ceux-color-name {
    margin: 0;
    padding: 0;
    font-family: $font-family-body;
    font-weight: $font-weight-body;
    font-size: 1.0em;
    height: 1.0em;
    line-height: 1.0em;
  }

  .ceux-color-value,
  .ceux-color-variable {
    font-family: $font-family-monospace;
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    height: 1.5em;
    line-height: 1.5em;
  }
}

.ceux-color-inline {
  padding: 0.2em;
  margin: 0 0.1em;
}

// Base Color Palette
.swatch-green-shamrock {
  background-color: $color-green-shamrock;
  border: 1px solid $color-green-jewel;
  color: $color-white-pure;
}
.swatch-green-jewel {
  background-color: $color-green-jewel;
  border: 1px solid $color-green-jewel;
  color: $color-white-pure;
}
.swatch-green-cruise {
  background-color: $color-green-cruise;
  border: 1px solid $color-green-shamrock;
  color: $color-gray-charcoal;
}
.swatch-blue-curious {
  background-color: $color-blue-curious;
  border: 1px solid $color-blue-bahama;
  color: $color-white-pure;
}
.swatch-blue-bahama {
  background-color: $color-blue-bahama;
  border: 1px solid $color-blue-bahama;
  color: $color-white-pure;
}
.swatch-blue-perano {
  background-color: $color-blue-perano;
  border: 1px solid $color-blue-curious;
  color: $color-gray-charcoal;
}
.swatch-orange-sun {
  background-color: $color-orange-sun;
  border: 1px solid $color-orange-fiery;
  color: $color-white-pure;
}
.swatch-orange-fiery {
  background-color: $color-orange-fiery;
  border: 1px solid $color-orange-fiery;
  color: $color-white-pure;
}
.swatch-orange-apricot {
  background-color: $color-orange-apricot;
  border: 1px solid $color-orange-sun;
  color: $color-gray-charcoal;
}
.swatch-gray-ghost {
  background-color: $color-gray-ghost;
  border: 1px solid $color-gray-charcoal;
  color: $color-gray-charcoal;
}
.swatch-gray-charcoal {
  background-color: $color-gray-charcoal;
  border: 1px solid $color-gray-charcoal;
  color: $color-white-smoke;
}
.swatch-gray-chateau {
  background-color: $color-gray-chateau;
  border: 1px solid $color-gray-charcoal;
  color: $color-white-smoke;
}
.swatch-white-pure {
  background-color: $color-white-pure;
  border: 1px solid $color-white-lilac;
  color: $color-gray-charcoal;
}
.swatch-white-lilac {
  background-color: $color-white-lilac;
  border: 1px solid $color-white-lilac;
  color: $color-gray-charcoal;
}
.swatch-white-smoke {
  background-color: $color-white-smoke;
  border: 1px solid $color-white-lilac;
  color: $color-gray-charcoal;
}


.ceux-section {
  padding: 6.0em 0.5em 0 0.5em;
  margin: 2.0em 0;
  border-bottom: 1px solid $color-white-lilac;

  .ceux-subsection {
    padding: 0.5em 0 1.5em 0;
    margin-bottom: 1.0em;
    border-bottom: 1px solid $color-white-smoke;

    &:last-child {
      border-bottom: none;
    }
  }
}

.ceux-typeface {
  .implement {
    font-size: 0.75em;
    color: $color-gray-ghost;

    code {
      padding: 0.5em;
      display: inline-block;
      background: $color-white-smoke;
      color: $color-gray-chateau;
    }
  }
}
.ceux-typeface-specimen {
  font-size: 2.0em;
  padding: 0.5em;
  background: $color-white-smoke;

  &.ceux-typeface-body {
    font-size: 1.0em;
    padding: 1.0em;
  }
}

.ceux-all-the-things {
  text-decoration: underline;
  font-weight: 600;
  font-style: italic;
}

.font-franklin-gothic-urw-heavy {
  font-family: 'FranklinGothic URW';
  font-weight: 800;
}
.font-franklin-gothic-urw-demi {
  font-family: 'FranklinGothic URW';
  font-weight: 600;
}
.font-franklin-gothic-urw-book {
  font-family: 'FranklinGothic URW';
  font-weight: 400;
}
.font-merriweather-heavy {
  font-family: 'Merriweather';
  font-weight: 800;
}
.font-merriweather-regular {
  font-family: 'Merriweather';
  font-weight: 400;
}
.font-proxima-nova-bold {
  font-family: 'Proxima Nova';
  font-weight: 600;
}
.font-proxima-nova-light {
  font-family: 'Proxima Nova';
  font-weight: 300;
}
.font-serif {
  font-family: serif;
}
.font-sans-serif {
  font-family: sans-serif;
}
.font-inconsolata {
  font-family: 'Inconsolata';
}
.font-monaco {
  font-family: Monaco;
}
.font-monospace {
  font-family: monospace;
}
