@charset "utf-8";


@import "compass";
@import "compass/utilities/sprites";
@import "compass/css3";
@import "breakpoint";

// CE Variables (Legacy)
@import "globals/customVariables";
@import "plugins/bootstrapCustom";


// CE Website Base Variables
@import "globals/base";

// CE Colors
@import "globals/colors";

// CE Typography Variables and Styles
@import "globals/typography";

// CE Buttons
@import "globals/buttons";

// CE Form Variables and Styles
@import "globals/forms";

// CE Navigation
@import "components/navigation";

// CE Content Grids
@import "components/contentGrids";

// CE Footer
@import "components/footer";

// CE - Plan Card (Shopping)
@import "components/plancard";

// CE - Filters (Shopping)
@import "components/filters";

// CE - Recommendations
@import "recommendations";

/* Space out content a bit */
body {

}

img {
  max-width: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  origin: 50% 0;
  position: relative;
  min-height: 768px;
}

.container.visible {
  min-height: auto;
}

.container .content {
  overflow: hidden;
  display: block;
  opacity: 0;
  transition: opacity 250ms;
  z-index: 99;
}

.container.visible .content {
  opacity: 1;
  min-height: auto;
}

.container .loading {
  transition: opacity 250ms;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
}

.container.visible .loading {
  opacity: 0;
  z-index: 0;
  top: -1px;
  bottom: 100%;
}

$priceToCompare-height: 3em;
.priceToCompare {
  background: $brand-primary;
  height: $priceToCompare-height;
  color: $gray-lighter;
  float: left;
  width: 100%;
  span {
    float: left;
    width: 50%;
    line-height: $priceToCompare-height;
    text-align: center;
  }
  input {
    line-height: $priceToCompare-height - 1em;
    color: $gray-darker;
  }
}
.utility {
  display: table;
  float: right;
  vertical-align: top;
}
.utility_logo-header {
  float: left;
}
.compare-header {
  display: inline-block;
  width: auto;
}
.utility_logo-header .sprite {
  display: block;
}
.utility_logo-header small {
  text-align: center;
}
// Import Media Queries last
@import "mqLegacy";
// Import Logo Sprites
@import "sprites";
