// Base Site Variables
$site-max-width: 80em;
$site-sidenav-width: 20em;
$site-total-width: $site-max-width + $site-sidenav-width;

$site-tablet-width: 48em;

// Base Button Variables
$button-base: 3em;
$button-border-width: 0.25em;
$button-icon-base: 3em;
$button-icon-lineheight: 2em;

// Z-Index Variables
$z-overlay-high: 1030;
$z-overlay-mid: 1020;
$z-overlay-low: 1010;
$z-body-high: 30;
$z-body-mid: 20;
$z-body-low: 10;
$z-underlay-high: 5;
$z-underlay-mid: 3;
$z-underlay-low: 1;
$z-underlay-negative: -1;

// Card System Variables
$card-corner-radius: 2px;
$card-padding: 1em;
$card-header-height: 2em;

// Grid System Variables
$grid-gutter-width: 0.5em;

// Bootstrap legacy variables
$screen-xs-max: 767px;
$screen-sm-max: 991px;

@mixin clearfix() {
    *zoom: 1;

    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

// Helper classes from HTML5 Boilerplate
// Hide visually and from screen readers: h5bp.com/u
.hidden {
    display: none !important;
    visibility: hidden;
}

// Hide only visually, but have it available for screen readers: h5bp.com/v
@mixin visuallyhidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden {
    @include visuallyhidden();
}

// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// Hide visually and from screen readers, but maintain layout
.invisible {
    visibility: hidden;
}
