// Structure
button, input[type="submit"] {
  @include box-sizing(border-box);
  padding: 0.5em 1em;
  height: $button-base;
  vertical-align: middle;
}

// Presentation
button, input[type="submit"] {
  border: none;
  border-bottom: $button-border-width solid $color-gray-chateau;
  background: $color-gray-ghost;
  color: $color-white-pure;

  &:hover, &:focus {
    outline: none;
    border-bottom: $button-border-width solid $color-gray-ghost;
    background: $color-gray-chateau;
  }
  &:disabled {
    border-bottom: $button-border-width solid $color-white-smoke;
    background: $color-white-smoke;
    color: $color-gray-chateau;

    &:hover, &:focus {
      border-bottom: $button-border-width solid $color-white-smoke;
      background: $color-white-smoke;
      cursor: not-allowed;
    }
  }

  &.btn-primary {
    border-bottom: $button-border-width solid $color-green-jewel;
    background: $color-green-shamrock;
    color: $color-white-pure;

    &:hover, &:focus {
      border-bottom: $button-border-width solid $color-green-shamrock;
      background: $color-green-jewel;
    }
    &:disabled {
      border-bottom: $button-border-width solid $color-green-cruise;
      background: $color-green-cruise;
      color: $color-white-pure;

      &:hover, &:focus {
        border-bottom: $button-border-width solid $color-green-cruise;
        background: $color-green-cruise;
        cursor: not-allowed;
      }
    }
  }
  &.btn-bright {
    border-bottom: $button-border-width solid $color-orange-fiery;
    background: $color-orange-sun;
    color: $color-white-pure;

    &:hover, &:focus {
      border-bottom: $button-border-width solid $color-orange-sun;
      background: $color-orange-fiery;
    }
    &:disabled {
      border-bottom: $button-border-width solid $color-orange-apricot;
      background: $color-orange-apricot;
      color: $color-white-pure;

      &:hover, &:focus {
        border-bottom: $button-border-width solid $color-orange-apricot;
        background: $color-orange-apricot;
        cursor: not-allowed;
      }
    }
  }
  &.btn-info {
    border-bottom: $button-border-width solid $color-blue-bahama;
    background: $color-blue-curious;
    color: $color-white-pure;

    &:hover, &:focus {
      border-bottom: $button-border-width solid $color-blue-curious;
      background: $color-blue-bahama;
    }
    &:disabled {
      border-bottom: $button-border-width solid $color-blue-perano;
      background: $color-blue-perano;
      color: $color-white-pure;

      &:hover, &:focus {
        border-bottom: $button-border-width solid $color-blue-perano;
        background: $color-blue-perano;
        cursor: not-allowed;
      }
    }
  }
  &.btn-dark {
    border-bottom: $button-border-width solid $color-gray-charcoal;
    background: $color-gray-chateau;
    color: $color-white-pure;

    &:hover, &:focus {
      border-bottom: $button-border-width solid $color-gray-chateau;
      background: $color-gray-charcoal;
    }
    &:disabled {
      border-bottom: $button-border-width solid $color-white-smoke;
      background: $color-white-smoke;
      color: $color-gray-chateau;

      &:hover, &:focus {
        border-bottom: $button-border-width solid $color-white-smoke;
        background: $color-white-smoke;
        cursor: not-allowed;
      }
    }
  }

  &.btn-icon {
    width: $button-icon-base;
    height: $button-icon-base;
    line-height: $button-icon-lineheight;
  }

  &.btn-extrahuger {
    font-size: $font-size-extrahuger;
  }
  &.btn-extrahuge {
    font-size: $font-size-extrahuge;
  }
  &.btn-huger {
    font-size: $font-size-huger;
  }
  &.btn-huge {
    font-size: $font-size-huge;
  }
  &.btn-larger {
    font-size: $font-size-larger;
  }
  &.btn-large {
    font-size: $font-size-large;
  }
  &.btn-normal {
    font-size: $font-size-normal;
  }
  &.btn-smaller {
    font-size: $font-size-smaller;
  }
  &.btn-tinier {
    font-size: $font-size-tinier;
  }
}
