//
// Core Brand Color: Green
//
// Our Primary brand color centers around the "Shamrock" hue.
//
// No styleguide reference.
//
$color-green-jewel:             #146f50;
$color-green-jewel-light:       #1a9068;
$color-green-jungle:            #2c9f76;
$color-green-jungle-light:      #33aa80;
$color-green-shamrock:          #35ba8d;
$color-green-shamrock-light:    #4bcca0;
$color-green-aquamarine:        #71d0ae;
$color-green-aquamarine-light:  #8dd6b9;
$color-green-cruise:            #b8dfcc;
$color-green-cruise-light:      #d3ebdf;

//
// Core Brand Color: Blue
//
// Our Informational brand color centers around the "Curious" hue.
//
// No styleguide reference.
//
$color-blue-bahama:             #246289;
$color-blue-bahama-light:       #2c78a8;
$color-blue-boston:             #3482b3;
$color-blue-boston-light:       #3689bf;
$color-blue-curious:            #328fca;
$color-blue-curious-light:      #50a0d4;
$color-blue-danube:             #75b0d8;
$color-blue-danube-light:       #8fbbde;
$color-blue-perano:             #adc8e6;
$color-blue-perano-light:       #cbdcef;

//
// Core Brand Color: Orange
//
// Our Secondary brand color centers around the "Sun" hue.
//
// No styleguide reference.
//
$color-orange-fiery:            #ae6329;
$color-orange-fiery-light:      #ce7530;
$color-orange-tango:            #d87c39;
$color-orange-tango-light:      #e0813d;
$color-orange-sun:              #ed8733;
$color-orange-sun-light:        #f09c57;
$color-orange-tacao:            #f3ad79;
$color-orange-tacao-light:      #f6b98c;
$color-orange-apricot:          #facaa4;
$color-orange-apricot-light:    #fce0c9;

// Supplementary Brand Color: Red
//
// Centers around the "Cinnabar" hue.
//
// No styleguide reference.
//
$color-red-tamarillo:           #9a2013;
$color-red-tamarillo-light:     #bd2718;
$color-red-poppy:               #bb352c;
$color-red-cinnabar:            #e84c3d;
$color-red-cinnabar-light:      #eb6c5f;
$color-red-pink:                #ef928a;
$color-red-azalea:              #f6bcb6;
$color-red-azalea-light:        #fadcd9;

// Supplementary Brand Color: Yellow
//
// Centers around the "Butter" hue.
//
// No styleguide reference.
//
$color-yellow-gold:             #a7880b;
$color-yellow-gold-light:       #bf9a00;
$color-yellow-galliano:         #cca629;
$color-yellow-butter:           #f1c40f;
$color-yellow-butter-light:     #f4d247;
$color-yellow-corn:             #f5d870;
$color-yellow-marzipan:         #d5ecc2;
$color-yellow-marzipan-light:   #fcf1c8;

// Supplementary Brand Color: Purple
//
// Centers around the "Violet" hue.
//
// No styleguide reference.
//
$color-purple-windsor:          #48237d;
$color-purple-windsor-light:    #5a2c9c;
$color-purple-royal:            #653ca4;
$color-purple-violet:           #7f4acc;
$color-purple-violet-light:     #9569d5;
$color-purple-wisteria:         #b091dd;
$color-purple-quartz:           #cbb5ea;
$color-purple-quartz-light:     #e0d4f3;

// Data Visualization Color: Olive
//
// Centers around the "Mantis" hue.
//
// No styleguide reference.
//
$color-olive-apple:             #557f33;
$color-olive-apple-light:       #689e3e;
$color-olive-mantis:            #7ec752;
$color-olive-mantis-light:      #8fd06a;
$color-olive-mint:              #d5ecc2;
$color-olive-mint-light:        #e8f4dc;

// Data Visualization Color: Magenta
//
// Centers around the "Mulberry" hue.
//
// No styleguide reference.
//
$color-magenta-disco:           #6e1332;
$color-magenta-disco-light:     #8f1941;
$color-magenta-mulberry:        #cc4a78;
$color-magenta-mulberry-light:  #d5698f;
$color-magenta-mauve:           #deb7ca;
$color-magenta-mauve-light:     #deb7ca;

// Neutral Brand Color: Gray
//
// Centers around the "Chateau" hue.
//
// No styleguide reference.
//
$color-gray-nero:               #222526;
$color-gray-woodsmoke:          #333637;
$color-gray-charcoal:           #414547;
$color-gray-cape:               #505456;
$color-gray-cape-light:         #62686b;
$color-gray-stone:              #6e7579;
$color-gray-stone-light:        #777e82;
$color-gray-oslo:               #7e868a;
$color-gray-chateau:            #92999d;
$color-gray-edward:             #a7adb0;
$color-gray-ghost:              #b9bdbf;
$color-gray-geyser:             #cfd2d3;
$color-white-lilac:             #e4e5e6;
$color-white-smoke:             #efefef;
$color-white-lily:              #f5f5f6;
$color-white-pure:              #ffffff;


// Utility Color Classes
.text-green-level-lowest {
    color: $color-gray-charcoal;
}
.text-green-level-low {
    color: mix($color-green-shamrock, $color-gray-charcoal, 40%);
}
.text-green-level-med {
    color: mix($color-green-shamrock, $color-gray-charcoal, 60%);
}
.text-green-level-high {
    color: mix($color-green-shamrock, $color-gray-charcoal, 80%);
}
.text-green-level-highest {
    color: $color-green-shamrock;
}
