
// Base Color Palette
$color-green-shamrock:  #34ba8c;
$color-green-jewel:     #146e50;
$color-green-cruise:    #b7dfcc;

$color-blue-curious:    #328fc9;
$color-blue-bahama:     #246289;
$color-blue-perano:     #adc7e6;

$color-orange-sun:      #ee8733;
$color-orange-fiery:    #ae6328;
$color-orange-apricot:  #f9caa3;

$color-gray-ghost:      #bcbdc0;
$color-gray-chateau:    #939598;
$color-white-lilac:     #e7e7e8;

$color-white-smoke:     #efefef;
$color-gray-charcoal:   #444444;
$color-white-pure:      #ffffff;
