// Structure
input, textarea, select {
  @include box-sizing(border-box);
  padding: 0.5em;
  vertical-align: middle;
}
fieldset {
  @include box-sizing(border-box);
  padding: 1em;

  legend {
    @include box-sizing(border-box);
    padding: 0.5em;
  }
}

// Presentation
input, textarea, select {
  border: 1px solid $color-gray-ghost;
  background: $color-white-pure;
  color: $color-gray-chateau;

  &:focus {
    outline: none;
    border: 1px solid $color-green-shamrock;
    color: $color-gray-charcoal;
  }
}
fieldset {
  border: 1px solid $color-gray-chateau;
  background: $color-white-smoke;

  legend {
    background: $color-gray-chateau;
    color: $color-white-pure;
  }

  &.highlight {
    border: 1px solid $color-blue-curious;

    legend {
      background: $color-blue-curious;
    }
  }
}
hr {
  height: 1px;
  border: none;
  background: $color-white-lilac;


  &.bright {
    background: $color-orange-sun;
  }
  &.info {
    background: $color-blue-curious;
  }
  &.dark {
    background: $color-gray-charcoal;
  }
}
input {
  &.input-extrawide {
    min-width: 20em;
  }
  &.input-wide {
    min-width: 15em;
  }
  &.input-med {
    min-width: 10em;
  }
  &.input-narrow {
    min-width: 5em;
  }
  &[type=checkbox] {
    display: inline-block;
    background:none;
    height: 20px;
    width: 20px;
  }
}
