// Media Query Breakpoints for breakpoint-sass

// Hi-DPI MQs should be used for higher resolution image/icon replacements where non-vector graphics are used
$mq-hidpi-base: screen (min-resolution 1.5dppx);
$mq-hidpi-2x: screen (min-resolution 2dppx);
$mq-hidpi-3x: screen (min-resolution 3dppx);
$mq-under-sitemaxwidth: screen (max-width $site-max-width);
$mq-under-tablet: screen (max-width $site-tablet-width);

// Content-Specific Media Queries
$mq-over-sitetotalwidth: screen (min-width $site-total-width);
