// Standardized layouts for social media icons, buttons, and links

// Social media icon colors & logos
.social-facebook {
    background: $color-brand-facebook;

    &:before {
        @include icon;
        content: $c-icon-facebook;
    }
}

.social-twitter {
    background: $color-brand-twitter;

    &:before {
        @include icon;
        content: $c-icon-twitter;
    }
}

.social-linkedin  {
    background: $color-brand-linkedin;

    &:before {
        @include icon;
        content: $c-icon-linkedin;
    }
}

.social-gplus  {
    background: $color-brand-gplus;

    &:before {
        @include icon;
        content: $c-icon-gplus;
    }
}

.social-email  {
    background: $color-orange-sun;

    &:before {
        @include icon;
        content: $c-icon-email;
    }
}

// social media icons on a colored circle background as a link
.social-circle-link {
    @include link-as-button();
    border-radius: 1em;
    height: 2em;
    width: 2em;
    font-size: $font-size-largest;
    color: $color-white-pure;
    text-align: center;
    margin: 0 0.5em;

    &:hover,
    &:active,
    &:focus {
        color: $color-white-pure;
    }

    &:before {
        vertical-align: text-bottom;
        display: inline-block;
        margin-top: 10px;
    }

    .label-text {
        display: inline-block;
        text-indent: -9999px;
    }
}

// wide button link with social media icon and text label
.social-btn-wide {
    @include link-as-button();
    color: $color-white-pure;
    border: 0px;
    border-radius: 5px;
    text-align: right;
    padding: 0.5em 1em 0.5em 3em;
    min-width: 10em;
    height: 2.5em;
    position: relative;
    font-size: $font-size-large;
    line-height: $font-size-largest;
    margin: 0 0.5em;

    &:hover,
    &:active,
    &:focus {
        color: $color-white-pure;
    }

    &:before {
        position: absolute;
        font-size: $font-size-large;
        left: .75em;
        top: 50%; // this + next line vertically centers the icon in the box
        @include prefixer(transform, translateY(-0.5em), webkit ms spec);
    }
}
