// Standard Tooltip layout

// .ce-tooltip                 - Wrapper for the whole tooltip
//     .tooltip-icon           - Inline icon for user interaction
//     .tooltip-text           - Alternative to icon - text for user interaction
//     .tooltip-content        - Tooltip content that becomes visibile on user interaction
//         .tooltip-headline   - Repeatable headline block to describe tooltip purpose
//         .tooltip-body       - Repeatable text block for main tooltip text

.ce-tooltip {
    display: inline-block;
    position: relative;

    .tooltip-icon {
        position: relative;
        cursor: default;
        line-height: 1em;

        &:before {
            @include icon;
            content: $c-icon-char-help-pos;
            color: $color-blue-curious;
            vertical-align: middle;
            line-height: 1em;
            width: 2rem;
            display: inline-block;
            text-align: center;
        }

        &:after {
            display: none;
            position: absolute;
            bottom: -1.6rem;
            left: -50%;
            content: '';
            height: 0;
            width: 0;
            border-left: 2rem solid transparent;
            border-right: 2rem solid transparent;
            border-bottom: 1.5rem solid $color-gray-cape;
            z-index: $z-body-high;
        }
    }

    .tooltip-text {
        position: relative;
        display: inline-block;
        cursor: default;
        color: $color-green-shamrock;

        &:after {
            display: none;
            position: absolute;
            bottom: -1.6rem;
            left: 50%;
            @include transform(translateX(-50%));
            content: '';
            height: 0;
            width: 0;
            border-left: 2rem solid transparent;
            border-right: 2rem solid transparent;
            border-bottom: 1.5rem solid $color-gray-cape;
        }
    }

    .tooltip-content {
        display: none;
        position: absolute;
        @include transform(translateX(-50%));
        left: 50%;
        width: 100%;
        min-width: 20rem;
        margin-top: 1.4rem;
        z-index: $z-body-high;
        box-sizing: border-box;
        padding: 1.5rem 2rem;
        background-color: $color-gray-cape;
        color: $color-white-pure;
        font-size: $font-rem-normal;
        text-transform: none;
        font-variant: normal;
        text-align: left;

        .tooltip-headline {
            color: $color-gray-ghost;
            text-transform: uppercase;
            padding: 1.25rem 0 0.3rem;

            &:first-of-type {
                padding-top: 0;
            }
        }

        .repeated {
            .tooltip-headline {
                padding: 1.25rem 0 0.3rem;
            }

            &:first-of-type {
                .tooltip-headline {
                    padding-top: 0;
                }
            }
        }

        .tooltip-body {
            font-weight: $font-weight-body;
        }
    }

    &:hover {
        .tooltip-icon:after,
        .tooltip-text:after,
        .tooltip-content {
            display: block;
        }
    }
}


