$font-family-monospace: 'Inconsolata', Monaco, monospace;
$font-family-headline: 'FranklinGothic URW', sans-serif;
$font-family-subhead: 'FranklinGothic URW', sans-serif;
$font-family-accent: 'Merriweather', serif;
$font-family-body: 'Proxima Nova', sans-serif;
$font-family-icon: FontAwesome;

$font-weight-headline: 600;
$font-weight-headline-strong: 900;
$font-weight-subhead: 400;
$font-weight-subhead-strong: 700;
$font-weight-accent: 400;
$font-weight-accent-strong: 700;
$font-weight-body: 300;
$font-weight-body-strong: 600;

$font-size-extrahugest: 4.0em;
$font-size-extrahuger: 3.5em;
$font-size-extrahuge: 3.0em;
$font-size-huger: 2.0em;
$font-size-huge: 1.75em;
$font-size-larger: 1.25em;
$font-size-large: 1.1em;
$font-size-normal: 1.0em;
$font-size-smaller: 0.8em;
$font-size-tinier: 0.5em;

html, body {
  color: $color-gray-charcoal;
  font-weight: $font-weight-body;
  font-family: $font-family-body;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: $font-weight-headline;
  font-family: $font-family-headline;
}
h1 {
  font-size: 2.0em;
  line-height: 1;
}
h2 {
  font-size: 1.75em;
  line-height: 1;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
}
h4 {
  font-size: 1.25em;
  line-height: 1;
}
h5 {
  font-size: 1.1em;
  line-height: 1;
}
h6 {
  font-size: 1.0em;
  line-height: 1;
}
p {
  line-height: 1.6em;
}
strong {
  font-weight: $font-weight-body-strong;
}
code {
  color: $color-orange-sun;
  font-family: $font-family-monospace;
}
address {
  font-style: normal;
}
abbr[title] {
  border-bottom: none;
}
input, button, textarea, select {
  font-family: $font-family-body;
}
fieldset {
  legend {
    font-size: 0.85em;
    font-family: $font-family-subhead;
    line-height: 1.5em;
  }
}
pre {
  margin: 0;
}
a {
  color: $color-green-shamrock;
  text-decoration: none;
  font-weight: $font-weight-body-strong;

  &:hover, &:focus {
    color: $color-green-shamrock;
    text-decoration: underline;
  }
}

// Note: The following are not intended for general use.
.font-franklin-gothic-urw-heavy {
  font-weight: 800;
  font-family: 'FranklinGothic URW';
}
.font-franklin-gothic-urw-demi {
  font-weight: 600;
  font-family: 'FranklinGothic URW';
}
.font-franklin-gothic-urw-book {
  font-weight: 400;
  font-family: 'FranklinGothic URW';
}
.font-merriweather-heavy {
  font-weight: 800;
  font-family: 'Merriweather';
}
.font-merriweather-regular {
  font-weight: 400;
  font-family: 'Merriweather';
}
.font-proxima-nova-bold {
  font-weight: 600;
  font-family: 'Proxima Nova';
}
.font-proxima-nova-light {
  font-weight: 300;
  font-family: 'Proxima Nova';
}
.font-serif {
  font-family: serif;
}
.font-sans-serif {
  font-family: sans-serif;
}
.font-inconsolata {
  font-family: 'Inconsolata';
}
.font-monaco {
  font-family: Monaco;
}
.font-monospace {
  font-family: monospace;
}
