// Background image position adjustments for photoblocks
// Adjustments are specific to each image and labeled by the image number

.v-img24 .photoblock-photo {
    background-position-y: 10%;
}

.v-img25 .photoblock-photo {
    background-position-y: 10%;
}

.v-img79 .photoblock-photo {
    background-position-y: 70%;
}