.ce-city-list {
    text-align: center;

    .list-top-cities {
        margin-bottom: 0;
        padding: 0;

        >li {
            display: inline-block;
            padding: 0.75em 2em;
        }
    }

    li.ce-dropdown {
        height: auto;
        padding: 0;

        .dropdown-trigger {
            padding: 0.75em 2em;
        }
    }

    .dropdown-menu.list-more-cities {
        text-align: left;

        @include breakpoint($mq-md-max) {
            width: 20em;
        }

        @include breakpoint($mq-lg-min) {
            width: 50em;
        }

        &:before {
            right: 4.5em;
        }

        .menu-list {
            @include breakpoint($mq-md-max) {
                @include prefixer(column-count, 3, webkit moz spec);
                @include prefixer(column-gap, 1em, webkit moz spec);
            }

            @include breakpoint($mq-lg-min) {
                @include prefixer(column-count, 5, webkit moz spec);
                @include prefixer(column-gap, 1em, webkit moz spec);
            }

            .list-city {
                padding: 0.25em 0;
                margin: 0;
                width: 100%;
                display: inline-block;
                color: $color-white-pure;
                font-weight: $font-weight-body;
            }
        }
    }
}
