.ce-datepicker {
    border: 0;
    background: $color-white-pure;
    box-shadow: none;
    user-select: none;

    * {
        outline: none;
    }

    // overrides the standard button styling which is being applied to all the clickable elements in the calendar in checkout
    button {
        padding: 0;
        line-height: 1em;
        height: auto;
        border: 0 solid transparent;
        background-color: $color-white-pure;
        color: $color-gray-charcoal;

        &:hover,
        &:focus {
            background-color: $color-green-cruise-light;
            border: 0 solid transparent;
        }

        &:disabled {
            background-color: $color-white-lily;
            color: $color-gray-ghost;
            cursor: default;
        }

        &.active {
           background-color: $color-green-aquamarine-light;
        }
    }

    table {
        margin: 0 auto;

        tr {
            height: auto;
            border: 0;
        }

        thead {
            th {
                margin: 0;
                padding: 0;
                text-align: center;

                button {
                    color: $color-gray-cape-light;

                    &:hover,
                    &:focus {
                        background-color: transparent;
                        color: $color-green-jungle;
                    }
                }

                .pull-left {
                    padding-left: 0.33em;
                    text-align: left;
                    color: $color-gray-ghost;
                }

                .pull-right {
                    padding-right: 0.33em;
                    text-align: right;
                    color: $color-gray-ghost;
                }
            }
        }

        td {
            margin: 0;
            padding: 0;
            width: auto;
            height: auto;
            border: 1px solid $color-gray-ghost;
            text-align: center;
            cursor: pointer;

            &:first-child {
                width: auto;
                text-align: center;
                font-weight: normal;
            }

            &:hover {
                background: $color-white-smoke;
            }

            span {
                padding: 0 9px;
                line-height: 2.4em;
            }

            a {
                font-weight: $font-weight-headline;
                color: $color-green-shamrock;
            }
        }

        th {
            border: 0;
            font-weight: normal;
            line-height: 2em;
        }
    }

    .is-active {
        background: $color-green-cruise;
    }

    .text-muted {
        color: $color-gray-ghost;
    }

    .text-info {
        color: $color-green-jungle;
    }
}