.content-editorial {
  @include box-sizing(border-box);
  min-height: 50em;
  width: 100%;

  .content-editorial-container {
    @include box-sizing(border-box);
    margin: 0 auto;
    padding: 5em 0;
    max-width: $site-max-width;
    width: 100%;

    @include breakpoint($mq-under-sitemaxwidth) {
      padding: 5em 1em;
    }
  }
  .content-editorial-headline {
    color: $color-white-pure;
    font-weight: $font-weight-headline;
    font-size: $font-size-extrahuger;
    font-family: $font-family-headline;
    line-height: 1.25em;
  }
  .content-editorial-subhead {
    color: $color-white-pure;
    font-weight: $font-weight-subhead;
    font-size: $font-size-extrahuge;
    font-family: $font-family-subhead;
    line-height: 1.25em;
  }
  .content-editorial-cta {
    padding: 1em 0;
    color: $color-white-pure;

    p {
      padding: 0 0 0.9em 0;
      font-size: $font-size-large;
    }
  }
  .content-editorial-note {
    color: $color-white-lilac;
    font-size: $font-size-smaller;
  }

  &.content-editorial-bigtalk {
    min-height: (50em / 1.4);
    font-size: 1.4em;

    .content-editorial-container {
      max-width: ($site-max-width / 1.4);
    }
  }
  &.content-editorial-short {
    min-height: 20em;
  }


  &.content-editorial-bg-primary {
    background: $color-green-shamrock;
  }
  &.content-editorial-bg-info {
    background: $color-blue-curious;
  }
  &.content-editorial-bg-bright {
    background: $color-orange-sun;
  }
  &.content-editorial-bg-light {
    background: $color-white-smoke;
    color: $color-gray-charcoal;

    .content-editorial-headline {
      color: $color-gray-charcoal;
    }
    .content-editorial-subhead {
      color: $color-gray-charcoal;
    }
    .content-editorial-cta {
      color: $color-gray-charcoal;
    }
    .content-editorial-note {
      color: $color-gray-chateau;
    }
  }
  &.content-editorial-bg-dark {
    background: $color-gray-charcoal;
  }
  &.content-editorial-bg-grid {
    background: url('../images/patterns/grid-trans-blue.png') repeat;
    color: $color-blue-bahama;

    .content-editorial-headline {
      color: $color-blue-bahama;
    }
    .content-editorial-subhead {
      color: $color-blue-bahama;
    }
    .content-editorial-cta {
      color: $color-blue-bahama;
    }
    .content-editorial-note {
      color: $color-blue-bahama;
    }
  }
}
