// Plan Filters
//
// These define the plan filters components used in the Comparison Shopping App.
//
// No styleguide reference.
.plan-filters {
    @include cg-row();
    display: none;

    &.is-active {
        display: block;
    }
}
.plan-filter {
    @include cg-1of8();
}

// Filter Stacks for Filter Nav
.filter-stack {
    @include box-sizing(border-box);
    position: relative;
    display: inline-block;
    margin: 0 0.5em;
    height: 6em;
    vertical-align: middle;
    text-align: center;

    .filter-preview {
        display: block;
        padding-top: 0.5em;
        font-size: $font-size-smaller;
    }
    .filter-units {
        display: block;
        padding-top: 0.5em;
        font-size: $font-size-smaller;
    }
    .filter-selector {
        @include box-sizing(border-box);
        display: block;
        padding: 0 1em;
        min-height: 4.5em;
        border: 1px solid $color-gray-ghost;
        line-height: 4.5em;
        cursor: pointer;

        .filter-select-image {
            display: inline-block;
            text-indent: -9999px;
            vertical-align: middle;
        }

        .filter-select-option {
            vertical-align: middle;
        }
    }
    .filter-input {
        input {
            width: 8em;
            text-align: center;
        }
    }
    .filter-label {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        color: $color-gray-chateau;
        text-align: center;
        font-size: $font-size-smaller;
    }
}

// Shopping Header Filter Nav
.shop-header {
    @include cg-row();
    text-align: center;

    .filter-nav {
        display: inline-block;
        padding: 2em 0;
    }
}

// Shopping Filters
.filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: $font-size-smaller;
    line-height: 1.2em;

    .filter-list-item {
        margin: 0;
        padding: 0;
    }
}
