@import "../globals/customVariables";

.filters {
  @extend .col-lg-3;
  @extend .col-md-3;
  @extend .col-sm-3;
  @extend .col-xs-12;
}

ul.filters {
    position: absolute;
    width: 25%;
    left: 0;
    list-style: none;
    padding: 0 5px;
    margin: 0;
    li {
        border: 1px solid rgba(0,0,0,.5);
        margin: 0 0 10px 0;
        h5 {
            background: rgba(0,0,0,.15);
            padding: 10px;
            margin: 0;
        }
    }
}

ul.filterValues {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        border: none;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid rgba(0,0,0,.25);
        label {
            display: block;
            padding: 5px 10px 2px 10px;
        }
    }
    li:first-child {
        border-top: 1px solid rgba(0,0,0,.5);
    }
    li:last-child {
        border-bottom: none;
    }
}

ul.sorts {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    li {
        float: left;
        button {
            display: block;
            border: 1px solid;
            margin: 1px;
            background: none;
        }
        button.active {
            background: rgba(0,0,0,.25);
        }
    }
}
