// Structural
.site-footer {
  @include box-sizing(border-box);

  .footer-primary {
    width: 100%;
    @include box-sizing(border-box);
  }
  .footer-secondary {
    width: 100%;
    @include box-sizing(border-box);
  }

  .footer-nav {
    @include display-flex;
    @include flex-direction(row);

    max-width: $site-max-width;
    margin: 0 auto;
    padding: 0.25em 0.5em;

    .fnav-box {
      @include flex(1 1 4em);


      h5 {
        padding-bottom: 0.5em;
      }
      .fnav-toggle {
        font-size: $font-size-smaller;
      }

      &.fnav-wider {
        @include flex(2 1 8em);
      }
    }

    .footer-social {
      @include flex(1 1 4em);
    }
    .footer-address {
      @include flex(3 1 10em);
    }
    .footer-legal {
      @include flex(2 1 6em);
    }
  }
}

.footer-primary {
  padding-top: 4em;
  padding-bottom: 2em;

  .nav-list {
    .nav-item {
      line-height: 1.6;

      &.inactive {
        display: none;
      }
    }
  }
}

.social-links {
  @include box-sizing(border-box);
  padding: 0;
  margin: 0;

  .social-item {
    @include box-sizing(border-box);
    list-style: none;
    padding: 0.25em 0;
    margin: 0;
    display: inline-block;

    .social-link {
      @include box-sizing(border-box);
    }
  }
}

.legal-links {
  @include box-sizing(border-box);
  padding: 0;
  margin: 0;
  @include display-flex;
  @include flex-direction(row);

  .legal-item {
    @include box-sizing(border-box);
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    @include flex(1 1 2em);
    text-align: center;

    .legal-link {
      @include box-sizing(border-box);
      font-size: $font-size-smaller;
      line-height: 3em;
    }
  }
}

// Presentation
.site-footer {
  border-top: 0.5em solid $color-green-shamrock;

  .footer-primary {
    background: $color-white-smoke;
  }
  .footer-secondary {
    background: $color-white-lilac;
  }

  .footer-nav {
    .fnav-box {
      .fnav-toggle {
        font-weight: $font-weight-body;
      }
    }
  }

  &.footer-dark {
    border-top: 0.5em solid $color-orange-sun;
    color: $color-white-lilac;

    .footer-primary {
      background: $color-gray-charcoal;

      .nav-list {
        .nav-item {
          .nav-link {
            color: $color-gray-ghost;
          }
        }
      }
    }
    .footer-secondary {
      background: $color-gray-nero;
    }
    .footer-address {
      color: $color-gray-ghost;
    }

    .social-links {
      .social-item {
        .social-link {
          background: $color-gray-chateau;
          color: $color-white-lilac;
        }
      }
    }
    .legal-links {
      .legal-item {
        .legal-link {
          color: $color-gray-ghost;
        }
      }
    }
  }
}

.footer-primary {
  .nav-list {
    .nav-item {
      .nav-link {
        color: $color-gray-chateau;
        font-weight: $font-weight-body;
      }
    }
  }
}

.footer-address {
  font-size: $font-size-smaller;
  line-height: 3em;
  color: $color-gray-chateau;
}

.social-links {
  .social-item {
    .social-link {
      display: block;
      padding: 0.5em;
      height: 2em;
      width: 2em;
      line-height: 1em;
      text-align: center;
      background: $color-gray-ghost;
      color: $color-white-smoke;

      .icon {
        vertical-align: middle;
      }
    }
  }
}


.legal-links {
  .legal-item {
    .legal-link {
      color: $color-gray-chateau;
      font-weight: $font-weight-body;
    }
  }
}
