// Structural
.ce-footer {
    border-top: 0.5em solid $color-green-shamrock;

    .footer-nav {
        @include cg-row();
    }

    .footer-primary {
        background: $color-white-smoke;
        padding: 0;

        @include breakpoint($mq-sm-max) {
            padding: 1em 0em;
        }

        .fnav-box {
            @include breakpoint($mq-xs-max) {
                @include cg-item();
                padding: 1em;
            }

            @include breakpoint($mq-sm-min) {
                @include cg-1of2(false, false, true);
                padding: 1em;
            }

            @include breakpoint($mq-lg-min) {
                @include cg-1of4(false, false, true);
                padding: 2em 1em;
            }

            h5 {
                padding-bottom: 0.5em;
                clear: both;

                a {
                    color: $color-gray-charcoal;
                }

                &:nth-of-type(2) {
                    margin-top: 2em;
                }
            }
        }

        .ce-social-links {
            @include cg-item();
            margin: 2em 0 0;
            padding: 0;

            .social-item {
                @include cg-1of4(false, false, true);

                .icon {
                    display: inline-block;
                    text-align: center;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 5rem;
                    font-size: 2.25rem;
                    line-height: 4.5rem;
                    cursor: pointer;
                    text-decoration: none;
                    background-color: #5bab91;
                    color: $color-white-pure;

                    &:hover {
                        background-color: $color-green-jungle;
                    }

                    &:before {
                        line-height: 1.1em;
                    }
                }
            }
        }

        .nav-list {
            @include clearfix();

            .nav-item {
                line-height: 1.8em;
                @include cg-1of2(false, false, true);

                .nav-link {
                    color: $color-gray-chateau;
                    font-weight: $font-weight-body;

                    .icon {
                        font-size: 4em;
                    }
                }

                &.inactive {
                    display: none;
                }
            }

            &.v-project .nav-item {
                width: 100%;
            }

            &.v-choices {
                text-align: center;

                .nav-item {
                    @include breakpoint($mq-xs-max) {
                        @include cg-1of3(false, false, true);
                    }

                    @include breakpoint($mq-sm-min) {
                        width: auto;
                        margin-right: 2em;
                    }

                    .icon {
                        font-size: 3.5em;
                        display: block;
                    }

                    .nav-link {
                        display: inline-block;
                        margin-bottom: 1em;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                .v-electricity {
                    .icon {
                        color: #dabd48;

                        &:hover {
                            color: $color-yellow-butter;
                        }
                    }
                }

                .v-nat-gas {
                    .icon {
                        color: #d46f66;

                        &:hover {
                            color: $color-red-cinnabar;
                        }
                    }
                }

                .v-solar {
                    .icon {
                        color: #d7955f;

                        &:hover {
                            color: $color-orange-sun;
                        }
                    }
                }
            }

            &.v-academy {
                @include cg-1of2(false, false, true);

                .nav-item {
                    @include cg-item(false, false);
                }
            }
        }

        .v-seals {
            width: 80px;

            @include breakpoint($mq-md-max) {
                @include cg-1of2(false, false, true);
            }

            @include breakpoint($mq-lg-min) {
                float: right;
            }

            .bbb-seal {
                display: block;
                position: relative;
                overflow: hidden; 
                width: 60px; 
                height: 108px; 
                margin: 0 10px 1em;

                img {
                    position: absolute;
                    top: 0;
                    right: auto;

                    &:hover {
                        right: 0;
                    }
                }
            }

            .secure-seal {
                width: 80px;
            }
        }
    }

    .footer-secondary {
        background: $color-white-lilac;

        .footer-address {
            color: $color-gray-chateau;

            @include breakpoint($mq-sm-max) {
                padding: 1em 1em 0.5em;
                text-align: center;
            }

            @include breakpoint($mq-md-min) {
                float: left;
                padding: 0.5em 1em;
            }
        }

        .footer-legal {
            @include breakpoint($mq-sm-max) {
                padding: 0 1em 1em;
                text-align: center;
            }

            @include breakpoint($mq-md-min) {
                float: right;
                padding: 0.5em 1em;
            }

            .legal-links {
                margin: 0;
                padding: 0;

                .legal-item {
                    list-style: none;
                    text-align: center;
                    display: inline-block;
                    padding: 0 0.5em;

                    .legal-link {
                        font-size: $font-size-smaller;
                        color: $color-gray-chateau;
                        font-weight: $font-weight-body;
                    }
                }
            }
        }
    }
}

