// Structural
.site-footer {
    @include box-sizing(border-box);
    border-top: 0.5em solid $color-green-shamrock;

    .footer-primary {
        @include box-sizing(border-box);
        width: 100%;
        background: $color-white-smoke;
    }

    .footer-secondary {
        @include box-sizing(border-box);
        width: 100%;
        background: $color-white-lilac;
    }

    .footer-nav {
        @include cg-row();

        .fnav-box {
            margin-bottom: 1em;

            @include breakpoint($mq-xs) {
                @include cg-1of2(true, true, true);

                &.fnav-wider {
                    display: none;
                }
            }

            @include breakpoint($mq-sm) {
                @include cg-1of3(true, true, true);

                &.fnav-wider {
                    display: none;
                }
            }

            @include breakpoint($mq-md) {
                @include cg-1of5(true, true, true);

                &.fnav-wider {
                    display: none;
                }
            }

            @include breakpoint($mq-lg-min) {
                @include cg-1of8();

                &.fnav-wider {
                    @include cg-3of8();
                }
            }

            h5 {
                padding-bottom: 0.5em;

                a {
                    color: $color-gray-charcoal;
                }
            }

            .fnav-toggle {
                font-size: $font-size-smaller;
                font-weight: $font-weight-body;
            }
        }

        .footer-social {
            @include cg-1of4();
        }

        .footer-address {
            @include cg-1of2();
        }

        .footer-legal {
            @include cg-1of4();
        }
    }

    &.footer-dark {
        border-top: 0.5em solid $color-orange-sun;
        color: $color-white-lilac;

        .footer-primary {
            background: $color-gray-charcoal;

            .nav-list {
                .nav-item {
                    .nav-link {
                        color: $color-gray-ghost;
                    }
                }
            }
        }

        .footer-secondary {
            background: $color-gray-nero;
        }

        .footer-address {
            color: $color-gray-ghost;
        }

        .footer-nav {
            .fnav-box {
                h5 {
                    a {
                        color: $color-white-lilac;
                    }
                }
            }
        }

        .social-links {
            .social-item {
                .social-link {
                    background: $color-gray-chateau;
                    color: $color-white-lilac;
                }
            }
        }

        .legal-links {
            .legal-item {
                .legal-link {
                    color: $color-gray-ghost;
                }
            }
        }

        .footer-news {
            .p-name {
                color: $color-white-pure;
            }

            .dt-published {
                color: $color-white-lilac;
            }
        }
    }
}

.footer-primary {
    padding-top: 4em;
    padding-bottom: 2em;

    .nav-list {
        .nav-item {
            line-height: 1.6;

            .nav-link {
                color: $color-gray-chateau;
                font-weight: $font-weight-body;
            }

            &.inactive {
                display: none;
            }
        }
    }
}

.social-links {
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;

    .social-item {
        @include box-sizing(border-box);
        display: inline-block;
        margin: 0;
        padding: 0.25em 0;
        list-style: none;

        .social-link {
            @include box-sizing(border-box);
            display: block;
            padding: 0.5em;
            width: 2em;
            height: 2em;
            background: $color-gray-ghost;
            color: $color-white-smoke;
            text-align: center;
            line-height: 1em;

            &:hover,
            &:active,
            &:focus {
                background: $color-gray-stone;
                color: $color-white-pure;
            }

            &.social-twitter {
                &:hover,
                &:active,
                &:focus {
                    background: $color-brand-twitter;
                }
            }

            &.social-facebook {
                &:hover,
                &:active,
                &:focus {
                    background: $color-brand-facebook;
                }
            }

            &.social-linkedin {
                &:hover,
                &:active,
                &:focus {
                    background: $color-brand-linkedin;
                }
            }

            .icon {
                vertical-align: middle;
            }
        }
    }
}

.legal-links {
    @include cg-row();

    .legal-item {
        @include cg-1of3(false, false, true);
        list-style: none;
        text-align: center;

        .legal-link {
            @include box-sizing(border-box);
            font-size: $font-size-smaller;
            line-height: 3em;
            color: $color-gray-chateau;
            font-weight: $font-weight-body;
        }
    }
}

.footer-address {
    color: $color-gray-chateau;
    font-size: $font-size-smaller;
    line-height: 3em;
}

.footer-news {
    @include cg-row();
    list-style: none;

    .news-item {
        @include cg-item(true, false);
    }

    .u-url {
        @include cg-row();

        &:hover,
        &:focus {
            .p-name {
                text-decoration: underline;
            }
        }
    }

    .u-photo {
        @include cg-1of2(false, false, true);
    }

    .news-text {
        @include cg-1of2(true, true, true);
    }

    .p-name {
        font-size: $font-size-normal;
        color: $color-gray-charcoal;
        text-decoration: none;
    }

    .dt-published {
        font-size: $font-size-smaller;
        color: $color-gray-charcoal;
        text-decoration: none;
    }
}
