// Structural
.site-header {
    @include box-sizing(border-box);
    @include transition(all 0.3s);
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-overlay-low;
    padding: 0;
    width: 100%;
    height: 6em;
    border-bottom: 1px solid $color-gray-ghost;
    background: $color-white-pure;

    @include breakpoint($mq-md-max) {
        height: 4em;
    }

    .logo-container {
        @include box-sizing(border-box);
        @include transition(all 0.3s);
        display: inline-block;
        margin: 1em;
        width: 15em;
        height: 4em;
        vertical-align: middle;
        font-size: 1em;

        @include breakpoint($mq-md-max) {
            margin: 0;
        }

        @include breakpoint($mq-md-max) {
            width: 4em;
        }

        a {
            @include box-sizing(border-box);
            display: block;
            width: 15em;
            height: 4em;
            vertical-align: middle;

            @include breakpoint($mq-md-max) {
                padding: 1em 0.5em;
                width: 4em;
            }
        }
    }

    .nav {
        @include box-sizing(border-box);
        display: inline;
        float: right;
        margin: 1em;
        padding: 0;
        height: 4em;
        vertical-align: middle;

        @include breakpoint($mq-md-max) {
            margin: 0;
        }

        .nav-list {
            @include box-sizing(border-box);
            display: inline;
            margin: 0;
            padding: 0;
            height: 4em;

            .nav-item {
                @include box-sizing(border-box);
                list-style: none;
                display: inline-block;
                padding: 0 1em;
                height: 4em;
                line-height: 4em;

                &.nav-hybrid {
                    display: inline-block;

                    @include breakpoint($mq-sm-max) {
                        display: none;
                    }
                }

                .nav-link {
                    @include box-sizing(border-box);
                    padding-bottom: 0.15em;
                    font-size: 1.5em;
                    border-bottom: 4px solid $color-white-pure;
                    color: $color-gray-charcoal;
                    text-decoration: none;
                    font-weight: $font-weight-body;

                    &:hover,
                    &:focus {
                        border-bottom: 4px solid $color-orange-apricot;
                    }

                    &.is-active {
                        border-bottom: 4px solid $color-orange-sun;
                    }

                    .icon {
                        @include box-sizing(border-box);
                        padding-left: 0.5em;
                    }
                }
            }
        }
    }
}
