.v-contact-map {
    border-bottom: 0.5em solid $color-green-shamrock;

    .editorial-container {
        padding-bottom: 2em;
    }

    .ce-grid-item {
        text-align: center;
        padding-bottom: 0;
        cursor: pointer;
        color: $color-gray-stone;
        border-right: 1px solid $color-gray-geyser;

        @include breakpoint($mq-sm-max) {
            border: none;

            .grid-item-icon {
                display: none;
            }
        }

        &:last-of-type {
            border: 0;
        }

        &.is-active {
            color: $color-green-jungle-light;

            .grid-item-icon {
                color: $color-green-shamrock;
            }
        }
    }

    .grid-item-headline {
        font-size: $font-size-huge;
    }

    .grid-item-body {
        font-size: $font-size-larger;
    }

    .grid-item-icon {
        font-size: 5em;
        line-height: 1em;
        color: $color-gray-stone;
    }
}

.contact-map {
    width: 100%;
    height: 800px;
}