// Structure
body {
  position: relative;
  overflow-x: hidden; // Required for Side Nav

  &.sidenav-active {
    .sidenav {
      right: 0em;
    }
    #site {
      left: -$site-sidenav-width;
    }
    .site-header {
      left: -$site-sidenav-width;
    }
    .mask {
      display: block;
    }
  }
}
.nav-list {
  margin: 0;
  padding: 0;

  .nav-item {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.paginator {
  .nav-list {
    .nav-item {
      display: inline-block;

      .nav-link {
        @include box-sizing(border-box);
        display: block;
        padding: 0.5em;
        min-width: $button-icon-base;
        height: $button-icon-base;
        line-height: $button-icon-lineheight;
      }
    }
  }
}
.mask {
  // Disables interacting with the rest of the site while sidenav is open
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-overlay-mid;
  display: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#site {
  position: relative;
  top: 0;
  left: 0;
  z-index: $z-body-mid;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  @include breakpoint($mq-over-sitetotalwidth) {
    padding-right: $site-sidenav-width;
  }
}
#sidenav-open {
  @include breakpoint($mq-over-sitetotalwidth) {
    display: none;
  }
}
#sidenav-close {
  @include breakpoint($mq-over-sitetotalwidth) {
    display: none;
  }
}
.sidenav {
  @include box-sizing(border-box);
  position: fixed;
  top: 0;
  right: -$site-sidenav-width;
  z-index: $z-overlay-high;
  overflow: hidden;
  padding-top: 4em;
  width: $site-sidenav-width;
  height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  @include breakpoint($mq-over-sitetotalwidth) {
    right: 0;
  }

  .logo {
    width: 100%;
    text-align: center;
  }
  .sidenav-close {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 1.25em;

    .icon {
      @include box-sizing(border-box);
      padding-left: 0.5em;
    }
  }
  .nav {
    .nav-list {
      padding: 1.25em;

      .nav-item {
        .nav-link {
          line-height: 1.6em;
        }
        &.is-active {
          > .nav-nested {
            display: block;
          }
        }
      }
      &.nav-nested {
        display: none;
        padding: 0 1.25em;

        .nav-item {
          .nav-link {
            line-height: 2.0em;
          }
        }
      }
    }
  }
}
.site-header {
  @include box-sizing(border-box);
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-overlay-low;
  width: 100%;
  height: 6em;
  padding: 1em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  @include breakpoint($mq-under-sitemaxwidth) {
    height: 4em;
    padding: 0;
  }
  @include breakpoint($mq-over-sitetotalwidth) {
    padding-right: $site-sidenav-width;
  }


  .logo {
    display: inline-block;
    width: 200px;
    height: 60px;
    vertical-align: middle;

    @include breakpoint($mq-under-sitemaxwidth) {
      width: 60px;
    }
  }
  .nav {
    @include box-sizing(border-box);
    display: inline;
    float: right;
    margin: 0;
    padding: 0;
    height: 4em;
    vertical-align: middle;

    .nav-list {
      @include box-sizing(border-box);
      display: inline;
      margin: 0;
      padding: 0;
      height: 4em;

      .nav-item {
        @include box-sizing(border-box);
        display: inline-block;
        padding: 0 1em;
        height: 4em;
        line-height: 4em;

        .nav-link {
          @include box-sizing(border-box);
          padding-bottom: 0.15em;
          font-size: 1.5em;

          .icon {
            @include box-sizing(border-box);
            padding-left: 0.5em;
          }
        }
      }
    }
  }
}

// Presentation
.mask {
  background: rgba(0, 0, 0, 0.1);
}
.sidenav {
  background-color: $color-gray-charcoal;

  .sidenav-close {
    color: $color-white-pure;
    font-weight: $font-weight-body;

    &:hover, &:focus {
      color: $color-orange-apricot;
      text-decoration: none;
    }
  }
  .nav {
    .nav-list {
      .nav-item {
        .nav-link {
          color: $color-white-pure;
          font-weight: $font-weight-body;
          font-size: 1.5em;

          &:hover, &:focus {
            color: $color-orange-apricot;
            text-decoration: none;
          }
        }
        &.is-active {
          .nav-link {
            color: $color-green-cruise;

            &:hover, &:focus {
              color: $color-green-cruise;
              text-decoration: none;
            }
          }
        }
      }
      &.nav-nested {
        padding: 0 1.25em;

        .nav-item {
          .nav-link {
            color: $color-gray-ghost;
            font-weight: $font-weight-body;
            font-size: $font-size-smaller;

            &:hover, &:focus {
              color: $color-orange-apricot;
              text-decoration: none;
            }
          }
        }
      }
    }

    &.nav-secondary {
      .nav-list {
        .nav-item {
          .nav-link {
            color: $color-gray-ghost;
            font-weight: $font-weight-accent;
            font-size: $font-size-large;
            font-family: $font-family-accent;

            &:hover, &:focus {
              color: $color-orange-apricot;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
.site-header {
  border-bottom: 1px solid $color-gray-ghost;
  background: $color-white-pure;

  .logo {
    background: url('../images/logos/choose-energy-charcoal.png');
    text-indent: -9999px;

    @include breakpoint($mq-under-sitemaxwidth) {
      background: url('../images/logos/choose-energy-charcoal-mini.png');
    }
  }
  .nav {
    .nav-list {
      .nav-item {
        list-style: none;

        .nav-link {
          border-bottom: 4px solid $color-white-pure;
          color: $color-gray-charcoal;
          text-decoration: none;
          font-weight: $font-weight-body;

          &:hover, &:focus {
            border-bottom: 4px solid $color-orange-apricot;
          }
          &.active {
            border-bottom: 4px solid $color-orange-sun;
          }
        }
      }
    }
  }
}
.paginator {
  .nav-list {
    .nav-item {
      .nav-link {
        border-bottom: $button-border-width solid $color-gray-ghost;
        background: $color-gray-ghost;
        color: $color-white-pure;
        text-align: center;
        font-weight: $font-weight-body;

        &:hover, &:focus {
          border-bottom: $button-border-width solid $color-gray-ghost;
          background: $color-gray-chateau;
          text-decoration: none;
        }

        &.active {
          border-bottom: $button-border-width solid $color-green-jewel;
          background: $color-green-shamrock;

          &:hover, &:focus {
            border-bottom: $button-border-width solid $color-green-jewel;
            background: $color-green-shamrock;
          }
        }
      }
    }
  }
}
