.ce-photoblock {
    color: $color-white-pure;
    position: relative;
    min-height: 50vh;

    &.photoblock-tall {
        min-height: 75vh;
    }

    &.photoblock-bigtalk {
        font-size: 1.5em;

        .photoblock-container {
            max-width: ($site-max-width / 1.5);

            @include breakpoint($mq-xxl) {
                max-width: 50%;
                padding: ( 5em / 1.5);
            }
        }

        .photoblock-headline {
            line-height: 1.1em;
            padding: 0 ;
        }

        .photoblock-subhead {
            line-height: 1.1em;
            padding: 0 ;
        }
    }

    .photoblock-photo {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        z-index: $z-body-low;

        // Photo BG
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
    }

    .photoblock-container {
        position: relative;
        z-index: $z-body-high;
        @include box-sizing(border-box);
        @include clearfix;
        margin: 0 auto;
        padding: 5em 0em;
        max-width: $site-max-width;
        width: 100%;

        @include breakpoint($mq-lg-max) {
            padding-left: 2em;
            padding-right: 2em;
        }

        @include breakpoint($mq-sm-max) {
            padding: 2em 1em;
        }
    }

    .photoblock-headline,
    .photoblock-subhead {
        font-size: $font-size-extrahuger;
        line-height: 1.25em;
        padding: 0 0 0.25em ;

        // Adjust font size for different screen sizes
        @include breakpoint($mq-lg-max) {
            font-size: $font-size-extrahuge;
        }

        @include breakpoint($mq-sm-max) {
            font-size: $font-size-huger;
        }
    }

    .photoblock-headline {
        @include typeface('headline');
    }

    .photoblock-subhead {
        @include typeface('subhead');
    }

    .photoblock-cta {
        @include cg-2of3();
        font-size: $font-size-largest;
        padding: 0 0.25em;

        p {
            margin: 0 0 1em;
        }

        a {
            font-size: $font-size-smaller;
        }

        @include breakpoint($mq-sm-max) {
            @include cg-item();
            font-size: $font-size-large;
        }
    }

    // Side by side block layout for extra large screens
    @include breakpoint($mq-xxl) {
        background-color: $color-blue-curious;
        @include clearfix;

        &.photoblock-tall {
            min-height: 60vh;
        }

        .photoblock-photo {
            right: 50%;
            background-blend-mode: initial;
        }

        .photoblock-container {
            float: right;
            max-width: 50%;
            padding: 5em;
        }
    }
}
