.ce-photoblock {
    color: $color-white-pure;
    position: relative;
    min-height: 50vh;

    &.photoblock-tall {
        min-height: 75vh;
    }

    &.photoblock-bigtalk {
        font-size: 1.4em;

        .photoblock-container {
            max-width: ($site-max-width / 1.4);
        }
    }

    .photoblock-photo {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        z-index: $z-body-low;

        // Photo BG
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;

        // BG for blending
        background-color: $color-gray-chateau;
        background-blend-mode: multiply;
    }

    &.photoblock-screen {
        color: $color-gray-charcoal;

        .photoblock-photo {
            background-blend-mode: screen;
        }
    }

    &.photoblock-softlight {
        .photoblock-photo {
            background-blend-mode: soft-light;
        }
    }

    &.photoblock-hardlight {
        .photoblock-photo {
            background-blend-mode: hard-light;
        }
    }

    .photoblock-container {
        position: relative;
        z-index: $z-body-high;
        @include box-sizing(border-box);
        @include clearfix;
        margin: 0 auto;
        padding: 5em 0em;
        max-width: $site-max-width;
        width: 100%;

        @include breakpoint($mq-lg-max) {
            padding-left: 2em;
            padding-right: 2em;
        }

        @include breakpoint($mq-sm-max) {
            padding: 2em 1em;
        }
    }

    .photoblock-headline {
        @include typeface('headline');
        font-size: $font-size-extrahuger;
        line-height: 1.25em;
        padding: 0 0 0.25em ;
    }

    .photoblock-subhead {
        @include typeface('subhead');
        font-size: $font-size-extrahuge;
        line-height: 1.25em;
        padding: 0 0 0.25em;
    }

    .photoblock-cta {
        @include cg-2of3();
        font-size: $font-size-largest;
        padding: 0 0.25em;

        p {
            margin: 0 0 1em;
        }

        a {
            font-size: $font-size-smaller;
        }
    }

    // Side by side block layout for extra large screens
    @include breakpoint($mq-xxl) {
        background-color: $color-blue-curious;
        @include clearfix;

        &.photoblock-tall {
            min-height: 60vh;
        }

        .photoblock-photo {
            right: 50%;
            background-blend-mode: initial;
        }

        .photoblock-container {
            float: right;
            max-width: 50%;
            padding: 5em;
        }
    }

    .pb-color-jewel {
        background-color: $color-green-jewel;
    }

    .pb-color-jungle {
        background-color: $color-green-jungle;
    }

    .pb-color-shamrock {
        background-color: $color-green-shamrock;
    }

    .pb-color-aquamarine {
        background-color: $color-green-aquamarine;
    }

    .pb-color-cruise {
        background-color: $color-green-cruise;
    }

    .pb-color-bahama {
        background-color: $color-blue-bahama;
    }

    .pb-color-boston {
        background-color: $color-blue-boston;
    }

    .pb-color-curious {
        background-color: $color-blue-curious;
    }

    .pb-color-danube {
        background-color: $color-blue-danube;
    }

    .pb-color-perano {
        background-color: $color-blue-perano;
    }

    .pb-color-fiery {
        background-color: $color-orange-fiery;
    }

    .pb-color-tango {
        background-color: $color-orange-tango;
    }

    .pb-color-sun {
        background-color: $color-orange-sun;
    }

    .pb-color-tacao {
        background-color: $color-orange-tacao;
    }

    .pb-color-apricot {
        background-color: $color-orange-apricot;
    }

    .pb-color-tamarillo {
        background-color: $color-red-tamarillo;
    }

    .pb-color-poppy {
        background-color: $color-red-poppy;
    }

    .pb-color-cinnabar {
        background-color: $color-red-cinnabar;
    }

    .pb-color-pink {
        background-color: $color-red-pink;
    }

    .pb-color-azalea {
        background-color: $color-red-azalea;
    }

    .pb-color-black {
        background-color: $color-gray-black;
    }

    .pb-color-nero {
        background-color: $color-gray-nero;
    }

    .pb-color-woodsmoke {
        background-color: $color-gray-woodsmoke;
    }

    .pb-color-charcoal {
        background-color: $color-gray-charcoal;
    }

    .pb-color-cape {
        background-color: $color-gray-cape;
    }

    .pb-color-stone {
        background-color: $color-gray-stone;
    }

    .pb-color-oslo {
        background-color: $color-gray-oslo;
    }

    .pb-color-chateau {
        background-color: $color-gray-chateau;
    }

    .pb-color-edward {
        background-color: $color-gray-edward;
    }

    .pb-color-ghost {
        background-color: $color-gray-ghost;
    }

    .pb-color-geyser {
        background-color: $color-gray-geyser;
    }

    .pb-color-lilac {
        background-color: $color-white-lilac;
    }

    .pb-color-lily {
        background-color: $color-white-lily;
    }

    .pb-color-smoke {
        background-color: $color-white-smoke;
    }

    .pb-color-white {
        background-color: $color-white-pure;
    }

    .pb-color-violet {
        background-color: $color-purple-violet;
    }

    .pb-color-butter {
        background-color: $color-yellow-butter;
    }

    .pb-color-mantis {
        background-color: $color-olive-mantis;
    }

    .pb-color-mulberry {
        background-color: $color-magenta-mulberry;
    }

}
