// Top Picks & All Plans
//
// Adds the correct padding to plan section wrappers

.top-picks {
    @include cg-row();

    @include breakpoint($mq-md-max) {
        padding: 0 0.5em;
    }

    position: relative;
}

.all-plans {
    @include cg-row(true, true);
    margin-top: 1em;
}

.card-section-headline {
    h1 {
        display: inline-block;
        vertical-align: text-top;
    }

    .ce-tooltip {
        position: inherit;

        .tooltip-content {
            max-width: 40em;
            left: 0;
            transform: translateX(0.5em);
        }
    }
}

// Plan Card
//
// .plan-card    - The actual h-product microformatted/schema compatible product markup
.plan-card {
    position: relative;

    .plan-data-row {
        text-align: center;
        position: relative;

        &:before,
        &:after {
            display: none;
        }

        .plan-data-label,
        .plan-data-value {
            display: table-cell;
            text-align: left;
            vertical-align: middle;
            font-weight: 400;

            @include breakpoint($mq-md-max) {
                display: block;
            }
        }

        .plan-data-label {
            font-variant: small-caps;
            font-size: 1.5rem;
            color: $color-gray-chateau;
        }

        .plan-data-value {
            font-size: 1.5rem;
        }

        .plan-fees,
        .plan-offers,
        .plan-view-expanded {
            text-transform: uppercase;
            vertical-align: middle;
            font-weight: 600;
            font-size: 1.25rem;
            padding: 0.5rem 0.75rem;
            color: $color-green-shamrock;

            @include breakpoint($mq-md-max) {
                display: inline-block;
            }

            @include breakpoint($mq-lg-min) {
                display: table-cell;
            }

            a {
                text-decoration: none;
            }
        }

        .plan-est-savings,
        .plan-est-cost {
            display: table-row;
        }

        &.plan-unit-cost .plan-data-value {
            font-weight: $font-weight-body-strong;
            font-size: 3.25rem;
            line-height: 1em;

            .cost-unit {
                font-size: 2.5rem;
                vertical-align: bottom;
            }
        }

        .plan-est-cost .plan-data-value {
            font-weight: $font-weight-body-strong;
            font-size: 2.25rem;
        }

        &.plan-terms .plan-data-value {
            .plan-term-length,
            .plan-term-type {
                display: block;
            }

            .icon {
                font-size: 0.9em;
            }
        }

        &.plan-popularity .plan-data-value {
            .icon {
                font-size: 0.9em;
            }
        }

        &.plan-percent-green .plan-data-value {
            .icon {
                font-size: 1.1em;
            }
        }
    }

    .plan-badge {
        box-sizing: border-box;
        color: $color-white-pure;
        background-color: $color-blue-danube;
        font-size: 1.25rem;
        padding: 0.25rem 1.5rem;
        display: table;
        position: absolute;
        top: -1.2rem;

        .plan-badge-label {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
            font-weight: $font-weight-body-strong;
            white-space: nowrap;
        }

        &:before {
            position: absolute;
            top: 0;
            left: -0.5rem;
            content: '';
            height: 0;
            width: 0;
            border-top: 1.2rem solid transparent;
            border-bottom: 0rem solid transparent;
            border-right: 0.5rem solid $color-blue-bahama-light;
        }
    }

    .plan-info {
        .plan-supplier-info {
            .plan-supplier-logo {
                padding-bottom: 0.5rem;
                box-sizing: content-box;
            }

            .plan-puct {
                padding: 0 0 0 0.5rem;
                font-size: 75%;
            }
        }
    }

    .plan-details {
        .plan-name {
            font-size: 1.5rem;
            font-weight: 500;

            .line-clamp {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .plan-more-info {
            box-sizing: border-box;
        }
    }

    .plan-cta {
        box-sizing: border-box;
        font-size: $font-size-largest;

        .plan-signup-btn {
            padding: 0;
            line-height: 1.6em;
            font-weight: 300;
        }

        .btn-extended-info {
            display: block;
            font-size: 0.75em;
            line-height: 1.1em;
        }
    }
}

// Plans Header
//
// The Plans header switches between a side-by-side header
// with a feature for triggering plan filtering at large
// sizes to two rows on smaller screens.
.plans-header {
    @include cg-row();
    padding: 0.5em 0;

    @include breakpoint($mq-sm-max) {
        .plans-title {
            @include cg-item(false, true);
        }

        .plans-filter-trigger {
            @include cg-item(true, true);
            text-align: left;
        }
    }

    @include breakpoint($mq-md-min) {
        .plans-title {
            @include cg-2of3(true, false, true);
        }

        .plans-filter-trigger {
            @include cg-1of3(true, false, true);
            text-align: right;
        }
    }
}

// Plans Sorter
//
// The Plans sorter on the shopping page
// is required to morph between a set of buttons at
// small sizes to a sortable table header at large sizes.
//
.plans-sorter {
    @include breakpoint($mq-md-max) {
        padding: 0 0.5em;

        .slat-view {
            display: none;
        }

        .sorter-link {
            display: inline-block;
            background-color: $color-white-lilac;
            padding: 1rem 1.5rem;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
        }
    }

    @include breakpoint($mq-lg-min) {
        .card-view {
            display: none;
        }

        .sorter-title {
            display: none;
        }

        .sorter-links {
            background-color: $color-white-lilac;
            padding: 0 1.5rem;
            display: table;
            position: relative;
            width: 100%;

            .sorter-container {
                display: table;
                width: 100%;
            }

            .sorter-spacer {
                display: table-cell;
                width: 23rem;
            }

            .sorter-link {
                display: table-cell;
                padding: 0.5rem 0rem 0.5rem 1rem;
                margin: 0 0 0.5rem;
                vertical-align: middle;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.1rem;
                box-sizing: border-box;
                position: relative;

                .ce-tooltip {
                    position: inherit;

                    .tooltip-content {
                        max-width: 30em;
                    }
                }

                &.sort-unit-cost {
                    width: 20%;
                }

                &.sort-est-cost {
                    width: 20%;
                    min-width: 10rem;

                    .bothValues {
                        max-width: 7.3rem;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .tooltip-content {
                        min-width: 40rem;
                    }
                }

                &.sort-terms {
                    width: 20%;
                }

                &.sort-popularity {
                    width: 10%;
                    min-width: 7.2em;
                }

                &.sort-percent-green {
                    width: 10%;
                    min-width: 6.6rem;
                }

                &.sort-supplier {
                    width: 20%;
                    min-width: 14rem;
                    padding: 0 2.5rem 0 1.5rem;
                    text-align: center;
                }

                &.active {
                    background-color: $color-gray-geyser;
                }
            }
        }
    }

    .tooltip-icon {
        font-size: 1.4rem;
    }
}

// .plan-as-card
//
// plan-as-card styles force the plan-card object to display as a "Card" at maximum size.
// This variant of plan-item has two layout breakpoints:
//    SM-: Two Cards Per Row
//    MD+: Four Cards Per Row
@mixin plan-as-card() {
    .slat-view {
        display: none;
    }

    .plan-card {
        margin-top: 1rem;

        .plan-badge {
            left: 50%;
            @include transform(translateX(-50%));
        }

        .plan-data-row {
            display: table;
            width: 100%;
            padding: 0 1rem;

            .plan-data-label,
            .plan-data-value {
                width: 50%;
                padding: 0.5rem 0;

                @include breakpoint($mq-md-max) {
                    width: 100%;
                }
            }
        }

        .plan-info {
            border-color: $color-gray-geyser;
            border-style: solid;
            border-width: 1px 1px 0;

            .plan-overview {
                padding: 1rem 0 0.5rem;
                border-bottom: 1px solid $color-gray-geyser;
            }

            .plan-supplier-info {
                padding-top: 0.75rem;
                border-top: 1px solid $color-gray-geyser;

                .plan-supplier-logo {
                    min-width: 100px;
                    height: 48px;
                }

                &.inTexas .plan-supplier-logo {
                    display: table-cell;
                    width: 50%
                }

                .plan-puct {
                    display: table-cell;
                    max-width: 5rem;
                    vertical-align: middle;
                }
            }

            .plan-name {
                padding: 0 0 0.5rem;
                border-bottom: 1px solid $color-gray-geyser;

                .plan-name-info {
                    padding: 0 0.5rem;
                }

                .line-clamp {
                    @include breakpoint($mq-md-max) {
                        width: 15rem;
                    }

                    @include breakpoint($mq-lg-min) {
                        width: 21rem;
                    }
                }
            }

            .plan-more-info {
                padding: 0.5rem 0 0;


                .plan-view-expanded {
                    @include breakpoint($mq-md-max) {
                        display: block;
                    }
                }
            }
        }

        .plan-cta {
            height: 6rem;
            background-color: $color-green-shamrock;

            .plan-signup-btn {
                width :100%;
                height: 100%;
            }
        }
    }

    .ce-tooltip {
        position: inherit;
    }
}

.plan-as-card {
    @include breakpoint($mq-sm-max) {
        @include cg-1of2(true, true, true);
    }

    @include breakpoint($mq-md-min) {
        @include cg-1of4(true, true, true);
    }

    @include plan-as-card();
}

// .plan-as-slat
//
// plan-as-slat styles force the plan-card object to display as a "Slat" at maximum size.
// This variant of plan-item has four content breakpoints:
//      SM-: Two Cards Per Row
//      MD: Four Cards Per Row
//      LG+: Slat as a Single Row
@mixin plan-as-slat() {
    .card-view {
        display: none !important;
    }

    .plan-card {
        display: table;
        border: 1px solid $color-gray-geyser;
        padding: 0.75rem 1.5rem;
        margin-top: 1.5em;
        width: 100%;
        position: relative;

        .plan-badge {
            left: 1.5rem;
        }

        .plan-details {
            display: table-row;
            box-sizing: border-box;

            .plan-name {
                display: table-cell;
                border-bottom: 1px solid $color-white-lilac;
                padding-right: 1.5rem;
                vertical-align: bottom;

                .plan-data-row {
                    text-align: left;
                    padding: 0 1rem;
                }

                .tooltip-content {
                    width: auto;
                    max-width: 40rem;
                }

                .line-clamp {
                    width: 60rem;
                    vertical-align: bottom;
                    padding-bottom: 0.25rem;
                }
            }

            .plan-more-info {
                display: table-cell;
                border-bottom: 1px solid $color-white-lilac;
                width: 23rem;

                .plan-fees,
                .plan-offers,
                .plan-view-expanded {
                    display: inline-block;
                    padding: 0.75rem 1.2rem 0.25rem;
                }
            }

            .ce-tooltip {
                position: inherit;
            }
        }

        .plan-info {
            display: table-row;
            box-sizing: border-box;

            .plan-overview {
                display: table;
                width: 100%;
                padding-top: 1rem;

                .plan-data-row {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 0 1rem;

                    &.plan-unit-cost {
                        width: 20%;

                        .plan-data-value {
                            padding-left: 0;
                        }
                    }

                    &.plan-cost-savings {
                        width: 20%;
                        min-width: 10rem;

                        .plan-est-cost .plan-data-value {
                            vertical-align: bottom;
                        }

                        .plan-est-savings .plan-data-value {
                            font-size: 2rem;
                            vertical-align: top;
                        }
                    }

                    &.plan-terms {
                        width: 20%;

                        .plan-data-value {
                            font-size: 2rem;
                        }
                    }

                    &.plan-popularity {
                        width: 10%;
                        min-width: 7.2rem;

                        .plan-data-value {
                            font-size: 2rem;
                        }

                        .icon {
                            display: block;
                        }
                    }

                    &.plan-percent-green {
                        width: 10%;
                        min-width: 6.6rem;

                        .plan-data-value {
                            font-size: 2rem;
                        }

                        .icon {
                            display: block;
                        }
                    }

                    &.plan-supplier-info {
                        width: 20%;
                        min-width: 14rem;
                        padding: 0 2.5rem 0 1.5rem;

                        .plan-supplier-logo {
                            padding-bottom: 0;
                        }
                    }
                }

                .plan-data-label{
                    display: none;
                }
            }

            .plan-cta {
                display: table-cell;
                width: 23rem;
                text-align: center;
                vertical-align: middle;
                padding-top: 1rem;

                button {
                    width :100%;
                    height: 6rem;
                }
            }
        }
    }
}

.plan-as-slat {
    @include breakpoint($mq-lg-min) {
        @include plan-as-slat();
    }

    @include breakpoint($mq-md-max) {
        @include cg-1of4(true, true, true);
        @include plan-as-card();
    }

    @include breakpoint($mq-sm-max) {
        @include cg-1of2(true, true, true);
    }
}

// .plan-as-expandable
//
// plan-as-expandable styles force the plan-card object to display a
// shortened version of the plan card that expands on interaction.
.plan-as-expandable {
    background-color: $color-white-pure;
    margin-bottom: 2rem;

    .plan-header {
        background-color: $color-green-cruise-light;

        @include breakpoint($mq-md-max) {
            padding: 0 1rem;
        }

        @include breakpoint($mq-lg-min) {
            padding: 1.5rem 2.5rem 0.75rem;
            font-size: 1.8rem;
            font-weight: $font-weight-accent;
        }
    }

    .plan-body {
        @include breakpoint($mq-md-max) {
            padding: 0 1rem;
        }

        @include breakpoint($mq-lg-min) {
            padding: 0 2.5rem;
        }

        .plan-overview {
            @include clearfix;
            border-bottom: 1px solid $color-gray-geyser;
            padding: 1rem 0;

            .plan-facts {
                @include cg-1of2(true, true, true);
                padding-right: 0.5rem;

                .plan-unit-cost,
                .plan-percent-green {
                    display: inline-block;
                    float: left;
                }

                .plan-unit-cost {
                    width: 60%;
                }

                .plan-percent-green {
                    width: 40%;
                }

                .plan-terms {
                    display: block;
                    clear: both;
                    padding-top: 0.5rem;

                    .plan-term-length,
                    .plan-term-type {
                        display: inline-block;
                        line-height: 1.2em;
                    }

                    .plan-term-type {
                        padding-left: 0.5rem;
                    }
                }

                .plan-data-label,
                .plan-data-value {
                    display: block;
                }
            }

            .plan-documents {
                @include cg-1of2(true, true, true);
                text-align: left;
                padding-left: 0.5rem;

                .plan-document {
                    display: block;
                    font-weight: $font-weight-accent;
                    font-size: 1.3rem;
                    padding-bottom: 0.5rem;
                }
            }
        }

        .plan-details {
            &.is-closed {
                display: none;
            }

            .plan-logo-description {
                display: table;
                width: 100%;
                padding: 1.5rem 0;
                border-bottom: 1px solid $color-gray-geyser;

                .plan-supplier-info {
                    display: table-cell;
                    vertical-align: middle;
                    padding-right: 0.5rem;

                    .plan-puct {
                        padding-top: 0.5rem;
                        font-size: 75%;
                    }
                }

                .plan-description {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;
                    font-size: 1.2rem;
                    padding-left: 0.5rem;
                }
            }

            .plan-fees-offer {
                padding: 1rem 0 1.5rem;;
                border-bottom: 1px solid $color-gray-geyser;
                @include clearfix;

                .plan-fees {
                    @include cg-1of2(false, false, true);
                    padding-right: 1rem;
                }

                .plan-offers,
                .plan-utility {
                    @include cg-1of2(false, false, true);

                    &:first-of-type {
                        padding-bottom: 0.5rem;
                    }

                    .plan-data-value {
                        font-size: 1.2rem;
                        line-height: 1em;
                    }
                }

                .plan-offers .fee-description {
                    min-height: 2.1rem;
                }

                .plan-data-label,
                .plan-data-value {
                    display: block;
                }

                .fee-label {
                    font-size: 1rem;
                    text-transform: uppercase;
                    color: $color-gray-chateau;

                    @include breakpoint($mq-md-max) {
                        display: block;
                        line-height: 1.2em;
                    }
                }

                .fee-description {
                    display: block;
                    font-size: 1.2rem;
                    padding-bottom: 0.5rem;
                    line-height: 1em;

                    &:last-of-type {
                        padding: 0;
                    }
                }
            }
        }
    }

    .plan-actions {
        display: table;
        width: 100%;

        @include breakpoint($mq-md-max) {
            padding: 0 1rem;
        }

        @include breakpoint($mq-lg-min) {
            padding: 0 2.5rem;
        }

        .plan-view-expanded {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            padding: 0.75rem 0;
            width: 50%;
            text-decoration: none;
            cursor: pointer;
            text-transform: uppercase;

            &.details {
                color: $color-green-jewel-light;
                font-size: 1.3rem;

                .icon:before {
                    content: $c-icon-chevron-up;
                }

                &.is-closed .icon:before {
                    content: $c-icon-chevron-down;
                }
            }

            &.remove {
                font-size: 1.1rem;
                color: $color-gray-chateau;
            }
        }
    }
}

// .plan-as-modal
//
// plan-as-modal styles force the plan-card object to display as a standalone modal.
.plan-as-modal {
    height: 100%;

    .plan-card {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .plan-data-row {
            display: table;
            width: 100%;

            .plan-data-label,
            .plan-data-value {
                display: table-cell;
            }
        }
    }

    .plan-header {
        background-color: $color-white-pure;
        z-index: $z-overlay-mid;
        flex: none;

        .plan-basics {
            @include breakpoint($mq-md-max) {
                padding: 1rem 1.5rem;
            }

            @include breakpoint($mq-lg-min) {
                padding: 1rem 4rem;
            }

            .plan-data-value {
                font-weight: 300;
                font-size: 1.4rem;
            }

            .plan-supplier-info {
                width: 10rem;
                padding-right: 2rem;

                .plan-puct {
                    text-align: center;
                    padding: 0.2rem 0 0;
                    font-size: 75%;
                    line-height: 1em;
                }
            }

            .plan-name {
                font-weight: 700;
                line-height: 1.2em;

                @include breakpoint($mq-md-max) {
                    font-size: 1.8rem;
                }

                @include breakpoint($mq-lg-min) {
                    font-size: 2.5rem;
                }
            }

            .plan-utility {
                color: $color-gray-chateau;

                @include breakpoint($mq-md-max) {
                    font-size: 1.2rem;
                }
            }
        }

        .plan-cta {
            .plan-signup-btn {
                width: 100%;
                height: auto;
                padding: 0.3rem 0;

                @include breakpoint($mq-md-max) {
                }

                @include breakpoint($mq-lg-min) {
                }
            }
        }

        .plan-shortcuts {
            border-bottom: 1px solid $color-gray-geyser;
            background-color: $color-white-lily;
            padding: 0;
            text-align: left;
            display: block;

            .plan-shortcut-link {
                text-transform: uppercase;
                display: inline-block;
                font-size: 1.2rem;
                font-weight: 600;

                @include breakpoint($mq-md-max) {
                    padding: 1rem 1.5rem;
                }

                @include breakpoint($mq-lg-min) {
                    padding: 1rem 4rem;
                }
            }
        }
    }

    .plan-body {
        height: 100%;
        flex: auto;
        overflow-y: scroll;

        @include breakpoint($mq-md-max) {
            padding: 0 1.5rem;
        }

        @include breakpoint($mq-lg-min) {
            padding: 0 4rem;
        }

        .section-title {
            font-family: $font-family-body;
            color: $color-gray-chateau;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        .plan-overview {
            @include clearfix();
            border-bottom: 1px solid $color-gray-geyser;
            padding: 1rem 0;

            @include breakpoint($mq-lg-min) {
                padding: 2rem 0;
            }

            .plan-data-row {
                display: table;
                width: 100%;

                .plan-data-label,
                .plan-data-value {
                    display: table-cell;
                    padding: 0.5rem 0;
                }

                .plan-data-label {
                    width: 12rem;
                    vertical-align: top;
                }

                .plan-data-value {
                    font-size: 1.7rem;
                }
            }

            .plan-info-price,
            .plan-info-other {
                @include breakpoint($mq-lg-min) {
                    @include cg-1of2(false, false, true);
                    padding: 0 1rem;

                    &:first-of-type {
                        padding-left: 0;
                    }

                    &:last-of-type {
                        padding-right: 0;
                    }
                }
            }

            .plan-unit-cost {
                .plan-data-value {
                    font-size: 2rem;
                }
            }

            .fee-label {
                font-size: 1rem;
                text-transform: uppercase;
                color: $color-gray-chateau;

                @include breakpoint($mq-md-max) {
                    display: block;
                    line-height: 1.2em;
                }
            }

            .fee-description {
                display: block;
                font-size: 1.2rem;
                padding-bottom: 0.5rem;
                line-height: 1em;

                &:last-of-type {
                    padding: 0;
                }
            }

            .plan-documents {
                text-align: left;
                padding: 1.5rem 0 0;

                .plan-document {
                    display: block;
                }
            }
        }

        .plan-description {
            border-bottom: 1px solid $color-gray-geyser;
            padding: 1rem 0;
            font-weight: 400;

            @include breakpoint($mq-lg-min) {
                padding: 2rem 0;
                font-size: 1.6rem;
            }
        }

        .plan-about-supplier {
            border-bottom: 1px solid $color-gray-geyser;
            padding: 1rem 0;

            @include breakpoint($mq-lg-min) {
                padding: 2rem 0;
            }
        }

        .plan-faqs {
            padding: 1rem 0;

            @include breakpoint($mq-lg-min) {
                padding: 2rem 0;
            }

            .plan-faq-item {
                padding: 0.5rem 0;

                h5 {
                    font-family: $font-family-body;
                    line-height: 1.4em;
                }

                p {
                    margin: 0;
                }
            }
        }
    }

    .ce-tooltip {
        position: inherit;
    }
}

// .plan-details-modal
//
// Positioning & layout for single plan card modal containers
.plan-details-modal {
    .modal-dialog {
        width: auto;
        margin: auto;
        position: absolute;

        @include breakpoint($mq-md-max) {
            top: 3rem;
            bottom: 3rem;
            left: 3rem;
            right: 3rem;
        }

        @include breakpoint($mq-lg-min) {
            top: 8rem;
            bottom: 8rem;
            left: 8rem;
            right: 8rem;
            max-width: 60em;
        }
    }

    .modal-content {
        height: 100%;
    }

    .modal-scroll-area {
        height: 100%;
        overflow-y: scroll;
    }
}

// Schema.org Required Properties
//
// We will never want to display these in the interface, but they are required for proper Google/Bing Product SEO.
// Uses the x- identifier to show that it is a utility class.
@mixin schema-prop() {
    display: none;
}

.x-schema-prop {
    @include schema-prop();
}

// Related Zips Interface
//
// Provides a list of zip codes in the same utility
// or physically nearby the current shopping location.
.related-zips {
    @include cg-row(true, false);
    text-align: center;

    .zips-list {
        margin: 0;
        padding: 0;
        list-style: none;

        .zips-item {
            display: inline;
            margin: 0;
            padding: 0;
        }
    }

    .zips-link {
        display: inline-block;
        margin: $grid-gutter-width;
        padding: $grid-gutter-width;
    }
}
