// Structure
.rating-widget {
  font-size: 2.0em;
  text-align: center;
  width: 100%;

  .rating-value {
    @include box-sizing(border-box);
    unicode-bidi: bidi-override;
    direction: rtl;
    position: relative;
    width: 5em;
    height: 1em;
    line-height: 1em;
    padding: 0;
    margin: 0;
    font-weight: $font-weight-body;
    display: inline-block;

    > .icon {
      @include box-sizing(border-box);
      display: inline-block;
      position: relative;
      height: 1em;
      width: 1em;
      vertical-align: middle;
      line-height: 1em;
      padding: 0;
      margin: 0;

      &:hover:before,
      &:hover ~ .icon:before {
        @include box-sizing(border-box);
        font-size: 1em;
        position: absolute;
        left: 0;
        top: 0;
        height: 1em;
        width: 1em;
        line-height: 1em;
        padding: 0;
        margin: 0;
        display: block;
        font-weight: $font-weight-body;
      }
    }
  }
  .rating-count {
    display: inline-block;
    font-size: $font-size-tinier;
    font-weight: $font-weight-body;
  }
}

// Presentation
.rating-widget {
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
  }

  .rating-value {
    color: $color-orange-sun;
    cursor: pointer;

    > .icon {

      &:hover, &:focus,
      &:hover ~ .icon,
      &:focus ~ .icon {
        color: transparent;
      }
      &:hover:before,
      &:hover ~ .icon:before {
        content: "\f005";
        font-family: $font-family-icon;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: $color-green-shamrock;
      }
    }
  }
}
