.usageLine {
    stroke: rgba(0,0,0,.5);
    stroke-width: 1;
    fill: none;
}

svg {
    text {
        font-size: 10px;
    }
}

.y0.axis,
.x.axis {

    path {
        stroke: none;
        fill: none;
    }
    line {
        stroke: rgba(0,0,0,.5);
    }
}

.y0.axis {
    line {
        stroke: rgba(0,0,0,.5);
        stroke-dasharray: 2,2;
    }
}

.y1.axis {
    path {
        stroke: rgba(0,0,0,.5);
        fill: none;
    }
    line {
        stroke: none;
    }
}
