// Reviews
//
// No styleguide reference
.reviews {
    list-style: none;
    padding: 0;
    margin: 0;

    .review {
        padding: 1em 0;
        border-bottom: 1px solid $color-white-lily;

        &:last-child {
            border-bottom: 0;
        }

        .rating-widget {
            text-align: left;
            font-size: $font-size-normal;
        }
    }
}
