body.has-cart {
    overflow-x: hidden;

    &.cart-active {
        .shopping-cart {
            right: 0;
        }

        #site {
            left: -$site-shoppingcart-width;
        }

        .site-header {
            left: -$site-shoppingcart-width;
        }

        .mask {
            display: block;
        }
    }

    .site-root {
        top: 0;
        left: 0;
    }

    .mask {
        position: fixed;
        top: 0;
        left: 0;
        z-index: $z-overlay-mid;
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}

.shopping-cart {
    @include box-sizing(border-box);
    @include transition(all 0.3s);
    position: fixed;
    top: 0;
    right: -$site-shoppingcart-width;
    z-index: $z-overlay-high;
    overflow: hidden;
    width: $site-shoppingcart-width;
    height: 100%;
    background-color: $color-white-lily;
    border-left: 1px solid $color-gray-geyser;

    .cart-header {
        @include cg-row(true, false);
        position: relative;
        background-color: $color-gray-charcoal;
        color: $color-white-pure;
        padding: 1.5em;
        height: 6em;

        .cart-label {
            font-weight: $font-weight-headline-book;
            font-size: $font-size-huger;
            padding-top: 0.25em;
            line-height: 1.1em;

            i {
                margin-right: 0.75em;
                font-size: $font-size-smaller;

                &:before {
                    float: left;
                }
            }
        }

        .cart-close {
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            padding: 1.25em;
            color: $color-white-pure;
            font-weight: $font-weight-body;

            &:hover,
            &:focus {
                color: $color-orange-apricot;
                text-decoration: none;
            }

            .icon {
                @include box-sizing(border-box);
                padding-left: 0.5em;
            }
        }
    }

    .cart-details {
        border-top: 0px;
        padding: 1em 2em 1em 1em;
        margin-bottom: 2em;
    }

    .cart-section-title {
        font-weight: $font-weight-headline-book;
        font-size: $font-size-huge;
        padding: 0 0.125em;
    }

    .cart-location {
        font-weight: $font-weight-headline-book;
        font-size: $font-size-larger;
        padding: 0 0.25em 1em;
        color: $color-blue-curious;
    }

    .plan-item {
        background-color: $color-white-pure;
        border: 1px solid $color-gray-geyser;
        padding: 0.5em;
        margin-bottom: 1em;
        width: 100%;
        position: relative;

        .plan-card {
            position: relative;
            padding-left: 4.5em;
            padding-right: 0.5em;
            height: 4.5em;
            width: 100%;

            &:before {
                position: absolute;
                left: 0;
                top: 50%; // this + next line vertically centers the icon in the box
                @include prefixer(transform, translateY(-0.5em), webkit ms);
                font-size: $font-size-huger;
                padding: 0 0.45em;
                color: $color-green-shamrock;
            }

            .plan-details {
                border: none;
                padding: 0;
                float: left;
                width: 12em;

                .plan-data {
                    display: inline-block;
                    box-sizing: border-box;
                    width: 100%;

                    .plan-data-value,
                    .plan-data-label {
                        display: inline;
                        font-weight: $font-weight-accent;
                        color: $color-gray-oslo;
                    }
                }

                .plan-price {
                    border-bottom: 1px solid $color-green-shamrock;

                    .plan-data-value {
                        color: $color-gray-charcoal;
                        font-weight: $font-weight-headline;
                    }
                }
            }

            .plan-contract {
                padding-top: 0.5em;

                .plan-data-value {
                    font-size: $font-size-normal;
                }

                .icon {
                    display: none;
                }
            }

            .plan-supplier {
                float: right;
                width: 100px;
                height: 100%;
                margin-left: 1.5em;
                position: relative;

                .supplier-brand {
                    position: absolute;
                    left: 0;
                    top: 50%; // this + next line vertically centers the icon in the box
                    @include prefixer(transform, translateY(-50%), webkit ms);
                }
            }

            .item-remove {
                position: absolute;
                top: 1.8em;
                right: -1.8em;
                color: $color-orange-sun;
            }
        }

        .c-icon-electricity:before {
            color: $color-yellow-butter-light;
        }

        .c-icon-naturalgas:before {
            color: $color-red-cinnabar;
        }
    }

    .checkout-btn {
        margin-top: 1em;
        width: 100%;
        font-size: $font-size-largest;
    }
}
