.ce-split-editorial {
    width: 100%;
    display: block;
    @include clearfix;

    .editorial-container {
        margin: 0 auto;
        max-width: $site-max-width;
        display: flex;
        flex-direction: row;
        width: 100%;

        @include breakpoint($mq-md-max) {
            display: block;
        }
    }

    .split-content {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        min-height: 25em;
        background: #ffffff;
        padding: 2em;

        @include breakpoint($mq-md-max) {
            width: 100%;
            min-height:auto;
        }

        .split-content-interior {
            vertical-align: middle;
        }

        .split-cta {
            font-size: 1.3em;
            color: $color-green-shamrock;
            font-weight: $font-weight-subhead;
            text-decoration: none;

            &:after {
                @include icon;
                content: $c-icon-right-dir;
                vertical-align: middle;
            }
        }
    }

    .split-visual {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        min-height: 25em;
        text-align: center;
        background-color: $color-white-lilac;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        @include breakpoint($mq-md-max) {
            width: 100%;
        }

        .icon {
            color: #ffffff;
            font-size: 8em;
        }

        &.svg-bg {
            background-size: contain;
        }

        &.split-blue {
            background: $color-blue-curious;
        }

        &.split-green {
            background: $color-green-shamrock;
        }

        &.split-orange {
            background: $color-orange-sun;
        }
    }

    &.v-switch-positions {
        .editorial-container {
            flex-direction: row-reverse;
        }
    }

    &.v-height-short {
        .split-content {
            min-height: 15em;

            @include breakpoint($mq-md-max) {
                min-height:auto;
            }
        }

        .split-visual {
            min-height: 15em;
        }
    }

    &.v-height-tall {
        .split-content {
            min-height: 35em;

            @include breakpoint($mq-md-max) {
                min-height:auto;
            }
        }

        .split-visual {
            min-height: 35em;
        }
    }

}
