.ce-stats {
    margin: 0 auto;
    max-width: $site-max-width;
    height: 19em;
    color: $color-white-pure;
    font-size: 1.2em;

    @include breakpoint($mq-sm-max) {

        input {
            margin: 0 10%;
            width: 80%;
        }

        button {
            margin: 1em 10% 10%;
            width: 80%;
        }
    }

    dl {
        text-align: center;

        dt {
            font-size: 3.5em;

            span {
                font-size: 0.4em;
            }
        }

        dd {
            margin-left: 0;
        }
    }

    button {
        margin-top: 1em;
    }
}