// Base Site Variables
$site-max-width: 80em;
$site-sidenav-width: 20em;
$site-total-width: $site-max-width + $site-sidenav-width;

$site-tablet-width: 48em;

// Base Button Variables
$button-base: 3em;
$button-border-width: 0.25em;
$button-icon-base: 3em;
$button-icon-lineheight: 2em;

// Z-Index Variables
$z-overlay-high: 1030;
$z-overlay-mid: 1020;
$z-overlay-low: 1010;
$z-body-high: 30;
$z-body-mid: 20;
$z-body-low: 10;
$z-underlay-high: 5;
$z-underlay-mid: 3;
$z-underlay-low: 1;

// Card System Variables
$card-corner-radius: 2px;
$card-padding: 1em;
$card-header-height: 2em;

// Grid System Variables
$grid-gutter-width: 0.5em;

// Bootstrap legacy variables
$screen-xs-max: 767px;
$screen-sm-max: 991px;
