// Legacy Media Queries
@media (min-width: 768px) {
  .container {
    width: auto;
  }
}
@media (max-width: 768px) {
  ul.energy-types {
    padding: 20px 5px 0;
  }
    ul.energy-types li {
      width: 23%;
      margin: 0 1%;

    }
    ul.energy-types li a, ul.energy-types li a.tab-selected {
      padding: 10px 5px;
    }
      ul.energy-types li a i,  ul.energy-types li a span {
        width: 100%;
        text-align: center;
      }
      ul.energy-types li a i {
        font-size: 200%;
      }
      ul.energy-types li a span {
        margin: 0;
        font-weight: 300;
        text-shadow: none;
        font-size: 75%;
      }
}
@media (max-width:320px) {
  ul.energy-types li a span {
    font-size: 70%;
  }
}
@media (max-width: 768px) {
  .utility-info .comparison-tools div.pull-left,
  .utility-info .comparison-tools div.pull-right {
    text-align: center;
    float: none !important;
    display: block;
    margin: 0 auto;
  }
  .utility-info .comparison-tools div.pull-left {
    margin: 0 auto 10px auto;
  }
}
