// Structural
.slats {
    clear: both;
    margin: 0;
    padding: 0;

    .h-entry {
        float: left;
        clear: both;
        margin: 0 0 1em 0;
        padding: 0;
        list-style: none;

        .img-wrapper {
            @include box-sizing(border-box);
            float: left;
            margin: 0;
            padding: 0;
            width: 100%;
            max-width: 25%;

            .u-photo {
                max-width: 100%;
            }
        }
        .p-name {
            @include box-sizing(border-box);
            float: right;
            margin: 0.25em 0 0 0;
            padding: 0;
            max-width: 74%;
            width: 100%;
            font-size: $font-size-larger;
        }
        .p-summary {
            @include box-sizing(border-box);
            float: right;
            margin: 0;
            padding: 0;
            max-width: 74%;
            width: 100%;
            font-size: $font-size-normal;
        }
        .dt-published {
            @include box-sizing(border-box);
            float: right;
            margin: 0;
            padding: 0;
            max-width: 74%;
            width: 100%;
            font-size: $font-size-smaller;
        }
        .u-url {
            &:hover,
            &:active,
            &:focus {
                .img-overlay {
                    display: block;
                }
            }
        }
    }

    &.slats-compact {
        .h-entry {
            .u-url {
                @include box-sizing(border-box);
                display: inline-block;
                clear: both;
            }

            .img-wrapper {
                width: 100%;
                max-width: 40%;

                .u-photo {
                    max-width: 100%;
                }
            }
            .p-name {
                max-width: 59%;
                font-size: $font-size-normal;
            }
            .p-summary {
                display: none;
            }
            .dt-published {
                max-width: 59%;
            }
        }
    }
}
.grid-article {
    @include box-sizing(border-box);
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    padding: 0;
    margin: 1em auto 3em;
    width:1080px;
    position: relative;
    z-index: 10;

    &.overlaid {
        margin-top: -4em;
    }
    .grid-item {
        @include box-sizing(border-box);
        @include flex(1 1 10em);
        margin: 0 1em 0 0;
        padding: 0;
        list-style: none;

        img {
            width: 100%;
            position: relative;
            z-index: 0;
        }
        .grid-item-caption {
            position: relative;
            background: $color-green-shamrock;
            bottom: 0;
            height:2em;
            z-index: 10;

            .u-url {
                @include box-sizing(border-box);
                display: block;
            }
            .u-photo {
                float: left;
                max-width: 100%;
                width: 100%;
            }
            .p-hearts {
                @include box-sizing(border-box);
                position: absolute;
                top: 0;
                right: 0.5em;
                bottom: 0;
                padding: 0.5em;
                padding-left: 40%;
                text-align: right;
                font-size: $font-size-smaller;
            }
            .dt-published {
                @include box-sizing(border-box);
                position: absolute;
                top: 0.5em;
                left: 0.5em;
                width: 35%;
                font-size: $font-size-smaller;
            }
        }
        .grid-item-article {
            margin-top: 1em;
        }
    }

    &.gridpage {
        @include flex-wrap(nowrap);
    }

    &.grid-compact {
        .grid-item {
            @include flex(1 1 5em);

            .p-name {
                width: 100%;
                font-size: $font-size-tinier;
            }
            .dt-published {
                display: none;
            }
        }
    }
    &.grid-large {
        .grid-item {
            @include flex(1 1 15em);

            .p-name {
                font-size: $font-size-normal;
            }
            .dt-published {
                font-size: $font-size-normal;
            }
        }
    }
    &.grid-jumbo {
        .grid-item {
            @include flex(1 1 20em);

            .p-name {
                font-size: $font-size-larger;
            }
            .dt-published {
                font-size: $font-size-normal;
            }
        }
    }
}

.grid {
    @include box-sizing(border-box);
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    margin: 0;
    padding: 0;

    .h-entry {
        .u-url {
            &:hover,
            &:active,
            &:focus {
                .img-overlay {
                    display: block;
                }
            }
        }
    }

    .grid-item {
        @include box-sizing(border-box);
        @include flex(1 1 10em);
        margin: 0 0.5em 0 0.5em;
        padding: 0;
        list-style: none;

        img {
            width: 100%;
            max-width: 100%;
        }

        .p-name {
            padding: 0.5em 0;
        }
        .p-summary {
            padding: 0 0 0.5em 0;
        }
    }

    &.gridpage {
        @include flex-wrap(nowrap);
    }

    &.grid-compact {
        .grid-item {
            @include flex(1 1 5em);

            .p-name {
                width: 100%;
                font-size: $font-size-tinier;
            }
            .dt-published {
                display: none;
            }
        }
    }
    &.grid-large {
        .grid-item {
            @include flex(1 1 15em);

            .p-name {
                font-size: $font-size-normal;
            }
            .dt-published {
                font-size: $font-size-normal;
            }
        }
    }
    &.grid-jumbo {
        .grid-item {
            @include flex(1 1 20em);

            .p-name {
                font-size: $font-size-larger;
            }
            .dt-published {
                font-size: $font-size-normal;
            }
        }
    }
}

// Presentation
.slats {
    .h-entry {
        .u-url {
            color: $color-gray-chateau;
            text-decoration: none;
            font-weight: $font-weight-body;

            &:hover {
                color: $color-gray-charcoal;
                text-decoration: none;
            }
        }
    }
    &.slats-compact {
        .h-entry {
            .p-name {
                font-weight: $font-weight-body;
            }
        }
    }
}

.grid {
    .h-entry {
        .u-url {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
.grid-article {
    .h-entry {
        .u-url {
            color: $color-white-lilac;
            text-decoration: none;
            font-weight: $font-weight-body;

            &:hover {
                color: $color-white-pure;
                text-decoration: none;
            }
            .grid-item-article {
                color: $color-gray-charcoal;
            }
        }
    }
}

.footer-dark {
    .slats {
        .h-entry {
            .u-url {
                color: $color-gray-ghost;

                &:hover {
                    color: $color-white-lilac;
                }
            }
        }
    }
}
