.content-editorial {
    @include box-sizing(border-box);
    position: relative;
    min-height: 50em;
    width: 100%;

    .content-editorial-container {
        @include box-sizing(border-box);
        margin: 0 auto;
        padding: 5em 0;
        max-width: $site-max-width;
        width: 100%;

        @include breakpoint($mq-under-sitemaxwidth) {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
    .content-editorial-headline {
        color: $color-white-pure;
        font-weight: $font-weight-headline;
        font-size: $font-size-extrahuger;
        font-family: $font-family-headline;
        line-height: 1.25em;
    }
    .content-editorial-subhead {
        color: $color-white-pure;
        font-weight: $font-weight-subhead;
        font-size: $font-size-extrahuge;
        font-family: $font-family-subhead;
        line-height: 1.25em;
    }
    .content-editorial-accent {
        @include typeface(accent);
    }
    .content-editorial-cta {
        padding: 1em 0;
        color: $color-white-pure;

        p {
            padding: 0 0 0.9em 0;
            font-size: $font-size-large;
        }

        &.content-editorial-infogrid {
            @include display-flex;
            @include flex-direction(row);
            @include flex-wrap(wrap);
            margin: 0;
            padding: 0;

            .content-editorial-infogrid-cell {
                @include box-sizing(border-box);
                @include flex(1 1 10em);
                display: table-cell;
                padding: 1em;
                vertical-align: middle;
            }
        }
    }
    .content-editorial-marker {
        position: absolute;
        top: 4em;
        left: 0;
        padding: 1em;
        background: rgba($color-white-pure, 0.6);
        color: $color-gray-charcoal;
        font-weight: $font-weight-accent;
        font-size: $font-size-larger;
        font-family: $font-family-accent;

        &.content-editorial-marker-primary {
            background: rgba($color-green-shamrock, 0.6);
            color: $color-white-pure;
        }
        &.content-editorial-marker-info {
            background: rgba($color-blue-curious, 0.6);
            color: $color-white-pure;
        }
        &.content-editorial-marker-bright {
            background: rgba($color-orange-sun, 0.6);
            color: $color-white-pure;
        }

        &.content-editorial-marker-topper {
            top: 0;
            left: 4em;
        }
    }
    .content-editorial-infobox {
        padding: 1em;
        max-width: 60%;
        background: rgba($color-white-pure, 0.6);
        color: $color-gray-charcoal;
        font-weight: $font-weight-body;
        font-size: $font-size-larger;
        font-family: $font-family-body;

        &.is-attached {
            position: absolute;

            &.attach-top {
                top: 0;
            }
            &.attach-topish {
                top: 4em;
            }
            &.attach-bottom {
                bottom: 0;
            }
            &.attach-bottomish {
                bottom: 4em;
            }
            &.attach-right {
                right: 0;
            }
            &.attach-rightish {
                right: 4em;
            }
            &.attach-left {
                left: 0;
            }
            &.attach-leftish {
                left: 4em;
            }
        }
    }
    .content-editorial-note {
        color: $color-white-lilac;
        font-size: $font-size-smaller;
    }
    &.content-editorial-bigtalk {
        min-height: (50em / 1.4);
        font-size: 1.4em;

        .content-editorial-container {
            max-width: ($site-max-width / 1.4);
        }
    }
    &.content-editorial-noheight {
        min-height: 1em;
    }
    &.content-editorial-short {
        min-height: 20em;
    }
    &.content-editorial-translucent {
        padding-top: 5em;
        color: $color-gray-charcoal;

        .u-url {
            color: $color-gray-charcoal;

            .p-summary {
                font-weight: $font-weight-body;
            }
        }

        .content-editorial-container {
            background: rgba(255,255,255,0.7);
            color: $color-gray-charcoal;
            padding: 1em;
            max-width: ($site-max-width + 2em);
        }
        .content-editorial-headline {
            color: $color-gray-charcoal;
        }
        .content-editorial-subhead {
            color: $color-gray-charcoal;
        }
        .content-editorial-cta {
            color: $color-gray-charcoal;
        }
        .content-editorial-note {
            color: $color-gray-chateau;
        }
    }
    &.content-editorial-bg-primary {
        background: $color-green-shamrock;
    }
    &.content-editorial-bg-info {
        background: $color-blue-curious;
    }
    &.content-editorial-bg-bright {
        background: $color-orange-sun;
    }
    &.content-editorial-bg-white {
        background: $color-white-pure;
        color: $color-gray-charcoal;

        .content-editorial-headline {
            color: $color-gray-charcoal;
        }
        .content-editorial-subhead {
            color: $color-gray-charcoal;
        }
        .content-editorial-cta {
            color: $color-gray-charcoal;
        }
        .content-editorial-note {
            color: $color-gray-chateau;
        }
    }
    &.content-editorial-bg-light {
        background: $color-white-smoke;
        color: $color-gray-charcoal;

        .content-editorial-headline {
            color: $color-gray-charcoal;
        }
        .content-editorial-subhead {
            color: $color-gray-charcoal;
        }
        .content-editorial-cta {
            color: $color-gray-charcoal;
        }
        .content-editorial-note {
            color: $color-gray-chateau;
        }
    }
    &.content-editorial-bg-dark {
        background: $color-gray-charcoal;
    }
    &.content-editorial-bg-grid {
        background: url('../images/patterns/grid-trans-blue.png') repeat;
        color: $color-blue-bahama;

        .content-editorial-headline {
            color: $color-blue-bahama;
        }
        .content-editorial-subhead {
            color: $color-blue-bahama;
        }
        .content-editorial-cta {
            color: $color-blue-bahama;
        }
        .content-editorial-note {
            color: $color-blue-bahama;
        }
    }
    &.content-editorial-centerhero {
        text-align: center;

        .content-editorial-headline {
            margin-top: 1em;
            font-size: 6.0em;
        }
    }
}

.content-editorial-tabs {
    .tab-header {
        font-size: $font-size-huge;

        .nav-list {
            @include box-sizing(border-box);
            @include display-flex;
            @include flex-direction(row);
            margin: 0.5em 0;

            @include breakpoint($mq-under-sitemaxwidth) {
                @include flex-wrap(wrap);
            }

            .nav-item {
                @include box-sizing(border-box);
                @include flex(1 1 10em);
                text-align: center;

                .nav-link {
                    font-weight: normal;
                    color: $color-gray-chateau;

                    &:hover,
                    &:focus,
                    &:active,
                    &.is-active {
                        text-decoration: none;

                        .nav-text {
                            padding-bottom: 0.1em;
                            border-bottom: 0.1em solid $color-orange-sun;
                        }
                    }
                    .icon {
                        padding-right: 0.25em;
                    }
                }
            }
        }
    }
    .tab-body {
        padding: 1em 0;

        .u-url {
            .p-name {
                color: $color-gray-charcoal;
            }
            .p-summary {
                color: $color-gray-chateau;
            }

            &:hover,
            &:active,
            &:focus {
                .img-overlay {
                    display: block;
                }
                .p-name {
                    color: $color-gray-charcoal;
                }
                .p-summary {
                    color: $color-gray-chateau;
                }
            }
        }
    }

}

.img-wrapper {
    @include box-sizing(border-box);
    width: 100%;
    max-width: 100%;
    position: relative;
    padding: 0;
    margin: 0;

    .img-overlay {
        @include box-sizing(border-box);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.6);
        color: $color-white-pure;
        display: none;
        text-align: center;

        .img-overlay-text {
            @include translateY(-50%);
            position: relative;
            top: 50%;
            font-size: $font-size-larger;
        }
    }
}
