ul.filters {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0 5px;
    width: 25%;
    list-style: none;

    li {
        margin: 0 0 10px 0;
        border: 1px solid rgba(0, 0, 0, 0.5);

        h5 {
            margin: 0;
            padding: 10px;
            background: rgba(0, 0, 0, 0.15);
        }
    }
}

ul.filterValues {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0;
        padding: 0;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);

        label {
            display: block;
            padding: 5px 10px 2px 10px;
        }

        &:first-child {
            border-top: 1px solid rgba(0, 0, 0, 0.5);
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

ul.sorts {
    overflow: hidden;
    margin: 0;
    padding: 5px;
    list-style: none;

    li {
        float: left;

        button {
            display: block;
            margin: 1px;
            border: 1px solid;
            background: none;
        }
        button.active {
            background: rgba(0, 0, 0, 0.25);
        }
    }
}
