.map {
    .map-base {
      fill: none;
      pointer-events: all;
    }
    .map-states {
      fill: $color-gray-ghost;
      stroke: $color-white-pure;
      stroke-linejoin: round;
      stroke-linecap: round;
    }
    .map-highlight {
      fill: $color-orange-sun;
    }
}

.locations-mapbox {
    position: relative;

    .locations-info {
        position: relative;
        height: 375px;
        width: 400px;
    }
    .locations-map {
        position: absolute;
        width: 675px;
        height: 375px;
        top: 0;
        right: 0;
    }
}


