// Structural
.paginator {
    .nav-list {
        .nav-item {
            display: inline-block;

            .nav-link {
                @include box-sizing(border-box);
                display: block;
                padding: 0.5em;
                min-width: $button-icon-base;
                height: $button-icon-base;
                line-height: $button-icon-lineheight;
            }
        }
    }

    &.paginator-dots {
        .nav-list {
            .nav-item {
                .nav-link {
                    padding: 0;
                    min-width: inherit;
                    height: auto;
                    margin: 0.1em;
                }
            }
        }
    }
}

// Presentation
.paginator {
    .nav-list {
        .nav-item {
            .nav-link {
                border-bottom: $button-border-width solid $color-gray-ghost;
                background: $color-gray-ghost;
                color: $color-white-pure;
                text-align: center;
                font-weight: $font-weight-body;

                &:hover,
                &:focus {
                    border-bottom: $button-border-width solid $color-gray-ghost;
                    background: $color-gray-chateau;
                    text-decoration: none;
                }

                &.is-active {
                    border-bottom: $button-border-width solid $color-green-jewel;
                    background: $color-green-shamrock;

                    &:hover,
                    &:focus {
                        border-bottom: $button-border-width solid $color-green-jewel;
                        background: $color-green-shamrock;
                    }
                }
            }
        }
    }

    &.paginator-dots {
        .nav-list {
            .nav-item {
                .nav-link {
                    border: none;
                    background: none;
                    color: $color-white-lilac;

                    &:hover,
                    &:focus {
                        border: none;
                        background: none;
                        color: $color-green-cruise;
                    }

                    &.is-active {
                        border: none;
                        background: none;
                        color: $color-green-shamrock;
                    }
                }
            }
        }
    }
}
