.plan-cards {
    padding: 39px 0;
}

ul.plans {
        position: absolute;
        right: 0;
        margin: 0;
        padding: 0;
        width: 75%;
        list-style: none;
        a {
            text-decoration: none;
        }
}
.top-picks-wrapper {
    overflow: scroll;
    max-width: 100%;
    max-height: 400px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
ul.top-picks {
        top: 0;
        right: 0;
        display: block;
        clear: both;
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 5px;
        padding: 0;
        max-width: 100%;
        max-height: 500px;
        border: 1px solid;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        li {
                position: relative;
                display: inline-block;
        }
}

.plan-card .sprite {
    max-width: 100%;
}

.plan-card .plan-actions {
    position: relative;
    display: block;
    overflow: hidden;
    background: $color-white-smoke;
}

    .plan-actions .sign-up {
        overflow: hidden;
    }
    .plan-actions .sign-up .btn {
        height: 50px;
        border: none;
    }

        .plan-actions .btn-primary strong {
            color: white;
            text-transform: uppercase;
            font-size: 100%;
            opacity: 1;
            transition: all 250ms;
        }

        .plan-actions .btn-primary:hover strong {
            font-size: 200%;
            opacity: 0;
        }

        .plan-actions .btn-primary i {
            position: absolute;
            top: 0px;
            left: 50%;
            margin: 0 0 0 -25px;
            font-size: 500%;
            opacity: 0;

            transition: all 250ms;
            transform: rotateZ(180deg);
        }

        .plan-actions .btn-primary:hover i {
            top: 14px;
            left: 50%;
            margin: 0 0 0 -10px;
            font-size: 180%;
            opacity: 1;
            transform: rotateZ(0deg);
        }

        .recommanded-plans .plan-card .plan-actions .btn-primary:hover i {
            top: 12px;
        }
