.testimonials {
    @include display-flex;
    @include flex-direction(row);
    @include align-items(flex-end);
    @include justify-content(flex-end);

    .testimonial {
        @include box-sizing(border-box);
        @include flex(1 1 10em);
        cursor: pointer;
        height: 100%;
        vertical-align: bottom;

        .testimonial-quote {
            opacity: 0;
            font-family: $font-family-accent;
            font-size: $font-size-large;
            text-align: left;

            &:before {
                content: "“"
            }
            &:after {
                content: "”"
            }
        }
        .testimonial-person {
            opacity: 0;
            text-align: right;

            &:before {
                content: "— "
            }
        }
        .testimonial-photo {
            width: 100%;
            max-width: 100%;
            vertical-align: bottom;
        }

        &:hover,
        &:focus,
        &:active,
        &.is-active {
            @include flex(1 1 12em);


            .testimonial-quote {
                opacity: 1;
            }
            .testimonial-person {
                opacity: 1;
            }
        }
    }
}
.testimonials-container,
.content-editorial .testimonials-container {
    padding-bottom: 0;
}
