@mixin center {
  width:$site-max-width;
  margin:0 auto;
}
.container {
@include center;
}

.header {
  width:100%;
  margin:0 auto;
}

//*****SUPPLIER NAVIGATION COMPONENT*******

.site-header {
  img {
    margin-left:20px;
    height:44px;
    vertical-align:middle; 
  }
  h4 {
    display:inline;
    margin-left:40px;
    line-height:64px;
  }
}

//*****UNDER HEADER MENU COMPONENT*******

.horizontal-menu {
  position:absolute;
  width:100%;
  height:40px;
  background:$color-gray-charcoal;
  color:$color-white-pure;
  line-height:39px;
  text-align:right;
  z-index:$z-overlay-low;

  .item {
    display:inline;
    padding-left:40px;
  }
}

//*****SUPPLIER CONTENT COMPONENT*******


.filter-box {
@include center;
height:100px;
line-height:99px;
color:$color-gray-charcoal;
background:$color-white-smoke;
z-index:$z-body-mid;
  h3 {
    line-height:100px;
    margin-right:20px;
  }
	img {
	  display:inline;
	  height: 60px;
	  max-width:135px;
	  padding:20px;
	}
	.filter-left {
	  display:inline;
	  float:right;

	  .filter-input {
	    display:inline-block;
	    margin:0 5px;
	    input {
	      display:block;
	      width:100px;
	      padding:2px 5px;
	    }
	    label {
	  	  display:block;
	      line-height:18px;
	      font-size:14px;
	    }
	  }
	  select {
	    margin:0 10px;
	  }
	}
	button {
	  margin:0 20px;
	  display:inline;
	  line-height:14px;
	}
}


//*****SUPPLIER DASHBOARD COMPONENT*******


.dashboard {
  @include center;
  background:$color-white-pure;
  color:$color-gray-charcoal;
  border-left:1px solid $color-white-smoke;
  border-right:1px solid $color-white-smoke;
  h3, h4 {
    display:inline-block;
    margin-right:5px;
  }
  table {
    width:100%;
    border-top:1px solid $color-white-smoke;
  }
  tr {
    height:50px;
    border-bottom: 1px solid $color-white-smoke;

  }
  tr:last-child {
    border-bottom: none;
  }
  th,
  td {
    min-width:70px;
    border-left:1px solid $color-white-smoke;
    text-align:center;
    padding:0 10px;
    &:first-child {
      border:none;
      min-width:20px;
      text-align:left;
    }
  } 
  .static-column {
    width:100px;
    text-align:center;
  }
  .supplier-active {
  	background:#fafafa;
  	border-bottom:1px solid $color-white-smoke;
  }

}

//*****SUPPLIER TAB COMPONENT*******

.tabs {
  @include center;
  background:$color-white-pure;
  color:$color-gray-charcoal;
  h3 {
    margin:10px;
  }
  button {
    margin-right:20px;
  }  
  .tab-section {
    border-bottom:1px solid $color-white-smoke;
    margin-top:10px;
    button {
      float:right;
    }
  }
  .tab {
    color:$color-green-shamrock;
    display:inline-block;
    background:$color-white-pure;
    border: 1px solid $color-white-smoke;
    border-bottom:none;
    border-radius:5px 5px 0 0;
    line-height:40px;
    width:auto;
    padding:5px 20px;
    margin:0 10px 0 0;
    cursor:pointer;

    &:hover,
    &.active {
      color:$color-gray-charcoal;
      background:$color-white-smoke;
    }  
  }
}

//******TAB FILTER COMPONENT*******
.customer-filter {
  background:$color-white-smoke;
  padding:20px;
  
  h4,a{
    display:inline-block;
  }
  a {
    margin-left:10px;
  }
  .filters {
  }
  .filter-input {
      display:inline-block;
      margin:0 20px 0 0;
      input {
        display:block;
        width:100px;
        padding:2px 5px;
      }
      label {
        display:block;
        line-height:18px;
        font-size:14px;
      }
  }
}

//******TAB TABLES COMPONENT*******
.customers,
.plans {
  border:1px solid $color-white-smoke;
  overflow:scroll;
  h4 {
    display:inline-block;
    margin:10px;
    width:50%;
  }
  table {
    width:100%;
    border-top:1px solid $color-white-smoke;
  }
  tr {
    height:50px;
    border-bottom: 1px solid $color-white-smoke;
    &:nth-child(even) {
      background:#fafafa;
    }
  }
  tr:last-child {
    border-bottom: none;
  }
  th,
  td {
    min-width:70px;
    border-left:1px solid $color-white-lilac;
    text-align:center;
    &:first-child {
      padding:0 6px;
      border:none;
      min-width:20px;
    }
  } 
  .static-column {
    width:100px;
    text-align:center;
  }
  .supplier-active {
    background:$color-white-smoke;
    border-bottom:1px solid $color-white-pure;
  }
  .download-csv {
    float:right;
    line-height:40px;
    margin-right:10px;
    a {
      color:$color-orange-sun;
    }
  }

}

//******PLAN PROFILE COMPONENT*******
.plan-profile {
  @include center;
  border:1px solid $color-white-smoke;
  .plan-alert {
    width:100%;
    background: $color-blue-curious;
    color:$color-white-pure;
    padding:10px 20px;
    box-sizing: border-box;
    a {
      color:$color-white-pure;
    }
  }
  table {
    width:100%;
    tr {
      height:40px;
      border-bottom:1px solid $color-white-smoke;
    }
    th {
      text-align:left;
      padding:20px;
    }
    td {
      padding:20px;
      vertical-align:top;
      text-align:left;
      border-left:1px solid $color-white-smoke;
      font-weight:500;
      width:300px;

      &:first-child {
        text-align:right;
        width:200px;
        font-weight:200;
        border-left:none;
      }
    }
    input {
      width:100%;
    } 
  }
}


.alternative-plans {
  @include center;
  border:1px solid $color-white-smoke;
  table {
    width:100%;
    tr {
      height:40px;
      border-bottom:1px solid $color-white-smoke;
    }
    th {
      text-align:left;
      padding:20px;
    }
    td {
      width:25%;
      padding:20px;
      vertical-align:top;
      text-align:left;
      border-left:1px solid $color-white-smoke;

      &:first-child {
        font-weight:200;
        border-left:none;
      }
    } 
  }
}




